workflows/llm-veille-discord.json
{
  "name": "LLM Veille -> Discord",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c309b19e-82a4-4b20-9f3f-f57c195eb25b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Tu es un analyste tech senior. Génère un rapport de veille stratégique sur les dernières actualités (dernières 24h) en IA, Data Engineering, MLOps et Cloud. Structure ta réponse avec maximum 5 sujets. Pour chaque sujet : un niveau de priorité [CRITIQUE], [IMPORTANT] ou [VEILLE], un titre court, un résumé en 2-3 phrases, le lien source. Réponds en français.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        0
      ],
      "id": "d50f415b-43e3-47c7-9d1b-43da3be51f8f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        176,
        208
      ],
      "id": "1bd4fd78-5323-4aca-8046-13ce38d69b81",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "w6TWAQpgn7TIxlYq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst description = text.length > 4000 ? text.substring(0, 4000) + \"...\" : text;\n\nreturn [{\n  json: {\n    content: \"\",\n    embeds: [\n      {\n        title: \"Rapport de Veille Tech\",\n        description: description,\n        color: 7506394,\n        footer: { text: \"Genere par OpenRouter\" },\n        timestamp: new Date().toISOString()\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "a27a8385-6331-4651-a2ed-3a4408ebe2d3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        0
      ],
      "id": "a34f35ac-4a1b-4017-a1ba-453460c97914",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}