workflows/rss-discord.json
{
  "name": "RSS -> Discord",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        0
      ],
      "id": "aa581b93-8c63-4d52-851d-e6bcfef5ed26",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.stat4decision.com/fr/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        0
      ],
      "id": "d6b5b3f5-6857-49ee-8a37-1ffd49a33160",
      "name": "RSS stat4decision"
    },
    {
      "parameters": {
        "url": "https://blog.octo.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        -144
      ],
      "id": "76ee25d5-d9cc-4e33-a624-fd3b6017892c",
      "name": "RSS octo"
    },
    {
      "parameters": {
        "url": "https://medium.com/feed/tag/data-engineering",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        144
      ],
      "id": "a7d53347-bd68-4dfa-b9f5-c7b04b3ff0dd",
      "name": "RSS medium"
    },
    {
      "parameters": {
        "url": "https://practicaldataengineering.substack.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        288
      ],
      "id": "d4ab79b2-fe99-45b1-bc93-ae192e697bdd",
      "name": "RSS practicaldataengineering"
    },
    {
      "parameters": {
        "url": "https://towardsdatascience.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        -288
      ],
      "id": "48507c85-a6eb-4813-9361-4bfa1aa62df8",
      "name": "RSS towardsdatascience"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        -48
      ],
      "id": "3d6b25a7-14e7-425a-84c8-2023f7cb2d19",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73f7cc4e-311a-4abf-8167-0fb47240669f",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $now.minus(24, 'hours').toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "cf9433c2-0998-4a30-8a3f-7f0d490ce34c",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const article = item.json;\n\n  let description = article.contentSnippet || article.content || \"Pas de résumé\";\n  if (description.length > 200) {\n    description = description.substring(0, 200) + \"...\";\n  }\n\n  const source = article.link.split(\"/\")[2].replace(\"www.\", \"\");\n\n  items.push({\n    json: {\n      embeds: [\n        {\n          title: article.title,\n          url: article.link,\n          description: description,\n          color: 3447003,\n          footer: { text: `Source : ${source}` },\n          timestamp: article.isoDate\n        }\n      ]\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "2e7dd400-237e-418f-b509-8ffdc79c1ce0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "0d83fcc4-1d76-4bac-95aa-60e6b9f75f3c",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS octo",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS stat4decision",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS medium",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS practicaldataengineering",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS towardsdatascience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS octo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS towardsdatascience": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS stat4decision": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS medium": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS practicaldataengineering": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
