workflows/veille-pro.json
{
  "name": "Veille Pro - Collecte + Classification + Distribution",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const feeds = [\n  { url: 'https://openai.com/blog/rss.xml', category: 'ia-ml' },\n  { url: 'https://blog.google/technology/ai/rss/', category: 'ia-ml' },\n  { url: 'https://deepmind.google/blog/rss.xml', category: 'ia-ml' },\n  { url: 'https://huggingface.co/blog/feed.xml', category: 'ia-ml' },\n  { url: 'https://paperswithcode.com/latest/rss', category: 'ia-ml' },\n  { url: 'https://rss.arxiv.org/rss/cs.AI', category: 'ia-ml' },\n  { url: 'https://rss.arxiv.org/rss/cs.LG', category: 'ia-ml' },\n  { url: 'https://rss.arxiv.org/rss/cs.CL', category: 'ia-ml' },\n  { url: 'https://txt.cohere.com/rss/', category: 'ia-ml' },\n  { url: 'https://www.databricks.com/feed', category: 'data-eng' },\n  { url: 'https://www.getdbt.com/blog/rss.xml', category: 'data-eng' },\n  { url: 'https://airbyte.com/blog/rss.xml', category: 'data-eng' },\n  { url: 'https://www.snowflake.com/feed/', category: 'data-eng' },\n  { url: 'https://www.confluent.io/feed/', category: 'data-eng' },\n  { url: 'https://blogs.apache.org/kafka/feed/entries/atom', category: 'data-eng' },\n  { url: 'https://www.montecarlodata.com/blog/feed/', category: 'data-eng' },\n  { url: 'https://aws.amazon.com/about-aws/whats-new/recent/feed/', category: 'cloud' },\n  { url: 'https://cloud.google.com/feeds/gcp-release-notes.xml', category: 'cloud' },\n  { url: 'https://azure.microsoft.com/en-us/updates/feed/', category: 'cloud' },\n  { url: 'https://blog.cloudflare.com/rss/', category: 'cloud' },\n  { url: 'https://vercel.com/atom', category: 'cloud' },\n  { url: 'https://blog.ovhcloud.com/feed/', category: 'cloud' },\n  { url: 'https://www.digitalocean.com/blog/rss', category: 'cloud' },\n  { url: 'https://www.docker.com/blog/feed/', category: 'devops' },\n  { url: 'https://kubernetes.io/feed.xml', category: 'devops' },\n  { url: 'https://www.hashicorp.com/blog/feed.xml', category: 'devops' },\n  { url: 'https://github.blog/feed/', category: 'devops' },\n  { url: 'https://about.gitlab.com/atom.xml', category: 'devops' },\n  { url: 'https://circleci.com/blog/feed.xml', category: 'devops' },\n  { url: 'https://www.datadoghq.com/feed/', category: 'devops' },\n  { url: 'https://krebsonsecurity.com/feed/', category: 'securite' },\n  { url: 'https://feeds.feedburner.com/TheHackersNews', category: 'securite' },\n  { url: 'https://www.cert.ssi.gouv.fr/alerte/feed/', category: 'securite' },\n  { url: 'https://www.cert.ssi.gouv.fr/avis/feed/', category: 'securite' },\n  { url: 'https://www.bleepingcomputer.com/feed/', category: 'securite' },\n  { url: 'https://www.darkreading.com/rss.xml', category: 'securite' },\n  { url: 'https://www.securityweek.com/feed/', category: 'securite' },\n  { url: 'https://hnrss.org/best', category: 'tendances' },\n  { url: 'https://feeds.arstechnica.com/arstechnica/index', category: 'tendances' },\n  { url: 'https://www.theverge.com/rss/index.xml', category: 'tendances' },\n  { url: 'https://techcrunch.com/feed/', category: 'tendances' },\n  { url: 'https://www.wired.com/feed/rss', category: 'tendances' },\n  { url: 'https://www.technologyreview.com/feed/', category: 'tendances' },\n  { url: 'https://www.ycombinator.com/blog/rss/', category: 'tendances' },\n  { url: 'https://www.producthunt.com/feed', category: 'tendances' },\n  { url: 'https://www.blogdumoderateur.com/feed/', category: 'tendances' },\n  { url: 'https://next.ink/feed/', category: 'tendances' },\n  { url: 'https://www.lemonde.fr/pixels/rss_full.xml', category: 'tendances' },\n  { url: 'https://www.numerama.com/feed/', category: 'tendances' },\n  { url: 'https://www.frenchweb.fr/feed', category: 'tendances' },\n  { url: 'https://www.maddyness.com/feed/', category: 'tendances' },\n  { url: 'https://tldr.tech/rss', category: 'tendances' },\n  { url: 'https://www.dataengineeringweekly.com/feed', category: 'data-eng' },\n  { url: 'https://softwareleadweekly.com/issues.rss', category: 'devops' },\n  // --- Sources bonus ---\n  { url: 'https://mshibanami.github.io/GitHubTrendingRSS/daily/all.xml', category: 'tendances' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCsBjURrPoezykLs9EqgamOA', category: 'tendances' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCYO_jab_esuFRV4b17AJtAw', category: 'ia-ml' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCbfYPyITQ-7l4upoX8nvctg', category: 'ia-ml' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UC9-y-6csu5WGm29I7JiwpnA', category: 'cloud' },\n  { url: 'https://changelog.com/podcast/feed', category: 'tendances' },\n  { url: 'https://feed.syntax.fm/rss', category: 'tendances' }\n];\nreturn feeds.map(f => ({ json: f }));"
      },
      "id": "code-urls",
      "name": "RSS Feed URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-1",
      "name": "Loop Over Feeds",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "rss-read",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        464
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const category = $('Loop Over Feeds').first().json.category;\nconst items = $input.all();\nreturn items.map(item => {\n  item.json._category = category;\n  return item;\n});"
      },
      "id": "tag-category",
      "name": "Tag Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.seenUrls) staticData.seenUrls = {};\n\nconst now = Date.now();\nconst twentyFourHoursAgo = now - (24 * 60 * 60 * 1000);\nconst sevenDaysAgo = now - (7 * 24 * 60 * 60 * 1000);\n\nfor (const [url, ts] of Object.entries(staticData.seenUrls)) {\n  if (ts < sevenDaysAgo) delete staticData.seenUrls[url];\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const a = item.json;\n  if (!a.link && !a.url) continue;\n  const link = (a.link || a.url || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\n  if (!link) continue;\n  if (staticData.seenUrls[link]) continue;\n  const pubDate = new Date(a.isoDate || a.pubDate || a.date || 0).getTime();\n  if (pubDate < twentyFourHoursAgo && pubDate > 0) continue;\n  staticData.seenUrls[link] = now;\n  const source = link.split('/')[2].replace('www.', '').replace('blog.', '').replace('feeds.', '');\n  let snippet = a.contentSnippet || a.content || a.description || '';\n  snippet = snippet.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n  if (snippet.length > 300) snippet = snippet.substring(0, 300) + '...';\n  results.push({\n    json: {\n      title: a.title || 'Sans titre',\n      url: a.link || a.url,\n      source: source,\n      category: a._category || 'tendances',\n      snippet: snippet,\n      publishedAt: a.isoDate || a.pubDate || a.date || new Date().toISOString()\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, count: 0 } }];\n}\nreturn results;"
      },
      "id": "dedup-code",
      "name": "Dedup + Filter 24h",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-title",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-empty",
      "name": "Filter Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        752,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const KEYWORDS = {\n  'ia-ml': {\n    high: ['gpt', 'llm', 'transformer', 'diffusion', 'fine-tuning', 'rag', 'agent', 'multimodal', 'benchmark', 'open-source', 'openai', 'anthropic', 'mistral', 'gemini', 'claude', 'llama', 'deepseek', 'hugging face', 'langchain', 'embedding', 'vector', 'neural', 'deep learning', 'machine learning', 'reinforcement', 'foundation model'],\n    medium: ['ai', 'model', 'training', 'inference', 'dataset', 'nlp', 'computer vision', 'generative', 'prompt', 'token', 'parameter', 'weights', 'gpu', 'tpu', 'cuda'],\n    low: ['artificial intelligence', 'automation', 'prediction', 'classification', 'regression', 'optimization']\n  },\n  'data-eng': {\n    high: ['dbt', 'spark', 'kafka', 'airflow', 'snowflake', 'databricks', 'data lake', 'data mesh', 'data warehouse', 'etl', 'elt', 'streaming', 'batch processing', 'data pipeline', 'data quality', 'data lineage', 'iceberg', 'delta lake', 'parquet', 'arrow'],\n    medium: ['sql', 'postgresql', 'bigquery', 'redshift', 'data catalog', 'schema', 'migration', 'ingestion', 'transformation'],\n    low: ['database', 'query', 'analytics', 'dashboard', 'reporting']\n  },\n  'cloud': {\n    high: ['aws', 'gcp', 'azure', 'cloudflare', 'vercel', 'serverless', 'lambda', 'kubernetes', 'terraform', 'cloud run', 'ecs', 'fargate', 'cdn', 's3', 'ec2'],\n    medium: ['cloud', 'iaas', 'paas', 'saas', 'microservice', 'container', 'load balancer', 'auto-scaling', 'region', 'availability zone'],\n    low: ['hosting', 'deployment', 'infrastructure', 'scalability']\n  },\n  'devops': {\n    high: ['docker', 'kubernetes', 'k8s', 'helm', 'github actions', 'gitlab ci', 'jenkins', 'argocd', 'gitops', 'ci/cd', 'terraform', 'ansible', 'prometheus', 'grafana', 'observability'],\n    medium: ['pipeline', 'deployment', 'container', 'orchestration', 'monitoring', 'sre', 'incident', 'rollback', 'canary', 'blue-green'],\n    low: ['devops', 'automation', 'release', 'build', 'test']\n  },\n  'securite': {\n    high: ['cve', 'vulnerability', 'zero-day', 'ransomware', 'breach', 'exploit', 'malware', 'phishing', 'cert-fr', 'patch', 'rce', 'xss', 'sql injection', 'supply chain attack'],\n    medium: ['security', 'authentication', 'encryption', 'firewall', 'siem', 'soc', 'pentest', 'audit', 'compliance', 'gdpr', 'iso 27001'],\n    low: ['cyber', 'privacy', 'protection', 'threat', 'risk']\n  },\n  'tendances': {\n    high: ['startup', 'funding', 'acquisition', 'ipo', 'open source', 'release', 'launch', 'announcement', 'breaking'],\n    medium: ['trend', 'innovation', 'disruption', 'market', 'growth', 'adoption'],\n    low: ['tech', 'digital', 'future', 'industry']\n  }\n};\n\nconst MAX_PER_CATEGORY = 10;\nconst TOTAL_LIMIT = 50;\n\nconst items = $input.all();\nconst scored = [];\n\nfor (const item of items) {\n  const text = ((item.json.title || '') + ' ' + (item.json.snippet || '')).toLowerCase();\n  let bestScore = 0;\n  let bestCategory = item.json.category || 'tendances';\n\n  for (const [cat, words] of Object.entries(KEYWORDS)) {\n    let score = 0;\n    for (const w of words.high) { if (text.includes(w)) score += 3; }\n    for (const w of words.medium) { if (text.includes(w)) score += 2; }\n    for (const w of words.low) { if (text.includes(w)) score += 1; }\n    if (score > bestScore) {\n      bestScore = score;\n      bestCategory = cat;\n    }\n  }\n\n  if (bestScore < 3) bestCategory = item.json.category || 'tendances';\n\n  const score10 = Math.min(10, Math.max(1, Math.round(bestScore / 3) + 3));\n  let priority = 'VEILLE';\n  if (score10 >= 9) priority = 'CRITIQUE';\n  else if (score10 >= 7) priority = 'IMPORTANT';\n  else if (score10 < 5) priority = 'BRUIT';\n\n  scored.push({\n    json: {\n      title: item.json.title,\n      url: item.json.url,\n      source: item.json.source,\n      snippet: item.json.snippet,\n      publishedAt: item.json.publishedAt,\n      score: score10,\n      priority: priority,\n      category: bestCategory,\n      summary: item.json.snippet || '',\n      keywordScore: bestScore\n    }\n  });\n}\n\nscored.sort((a, b) => b.json.keywordScore - a.json.keywordScore);\n\n// Quota par categorie : max 10 par cat, 50 total\nconst catCount = {};\nconst selected = [];\nfor (const item of scored) {\n  const cat = item.json.category;\n  catCount[cat] = (catCount[cat] || 0) + 1;\n  if (catCount[cat] <= MAX_PER_CATEGORY) {\n    selected.push(item);\n  }\n  if (selected.length >= TOTAL_LIMIT) break;\n}\n\n// Si pas assez, completer avec les meilleurs restants\nif (selected.length < TOTAL_LIMIT) {\n  const selectedUrls = new Set(selected.map(i => i.json.url));\n  for (const item of scored) {\n    if (!selectedUrls.has(item.json.url)) {\n      selected.push(item);\n      if (selected.length >= TOTAL_LIMIT) break;\n    }\n  }\n}\n\nreturn selected;"
      },
      "id": "prefilter-code",
      "name": "Pre-filtre Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "batch-llm",
      "name": "Batch pour LLM",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1264,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst articles = items.map((item, i) => {\n  const a = item.json;\n  const content = a.fullText || a.snippet || 'N/A';\n  return `[${i+1}] Titre: ${a.title}\\nSource: ${a.source}\\nCategorie RSS: ${a.category}\\nContenu: ${content}`;\n}).join('\\n\\n');\n\nconst prompt = `Tu es un analyste tech senior. Classifie ces ${items.length} articles.\n\nPour CHAQUE article, reponds en JSON avec:\n- title: le titre original\n- url: garder l'URL originale\n- score: pertinence de 1 a 10 (10 = revolution majeure, 7-8 = important, 5-6 = interessant, 1-4 = bruit)\n- priority: CRITIQUE (9-10), IMPORTANT (7-8), VEILLE (5-6), BRUIT (1-4)\n- category: une parmi [ia-ml, data-eng, cloud, devops, securite, tendances]\n- summary: resume en 1 phrase francaise, factuel, sans jargon marketing\n\nARTICLES:\n${articles}\n\nURLS ORIGINALES:\n${items.map((item, i) => `[${i+1}] ${item.json.url}`).join('\\n')}\n\nReponds UNIQUEMENT avec un JSON valide: {\"articles\": [...]}`;\n\nreturn [{ json: { prompt, _batchItems: items.map(i => i.json) } }];"
      },
      "id": "format-prompt",
      "name": "Format Prompt LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "llm-chain",
      "name": "Classification LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1712,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-3.1-24b-instruct",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1712,
        464
      ],
      "credentials": {
        "openRouterApi": {
          "id": "__CREDENTIAL_ID__",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst text = input.text || input.output || '';\nconst batchItems = input._batchItems || $('Format Prompt LLM').first().json._batchItems || [];\n\ntry {\n  let jsonStr = text;\n  const jsonMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) jsonStr = jsonMatch[1];\n  \n  const objMatch = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (objMatch) jsonStr = objMatch[0];\n  \n  const parsed = JSON.parse(jsonStr);\n  const articles = parsed.articles || parsed;\n  \n  if (!Array.isArray(articles)) {\n    throw new Error('articles is not an array');\n  }\n  \n  return articles.map((a, i) => {\n    const original = batchItems[i] || {};\n    return {\n      json: {\n        title: a.title || original.title || 'Sans titre',\n        url: a.url || original.url || '',\n        source: original.source || '',\n        score: Math.min(10, Math.max(1, parseInt(a.score) || 5)),\n        priority: ['CRITIQUE', 'IMPORTANT', 'VEILLE', 'BRUIT'].includes(a.priority) ? a.priority : 'VEILLE',\n        category: a.category || original.category || 'tendances',\n        summary: a.summary || original.snippet || '',\n        publishedAt: original.publishedAt || new Date().toISOString()\n      }\n    };\n  });\n} catch (e) {\n  return batchItems.map(item => ({\n    json: {\n      title: item.title || 'Sans titre',\n      url: item.url || '',\n      source: item.source || '',\n      score: item.score || 5,\n      priority: item.priority || 'VEILLE',\n      category: item.category || 'tendances',\n      summary: item.snippet || '',\n      publishedAt: item.publishedAt || new Date().toISOString(),\n      _fallback: true\n    }\n  }));\n}"
      },
      "id": "parse-llm",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "wait-rate",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        208
      ],
      "webhookId": "wait-rate-limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "score-filter",
              "leftValue": "={{ $json.score }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-score",
      "name": "Filter Score >= 5",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1504,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const PRIORITY_COLORS = {\n  'CRITIQUE': 15548997,\n  'IMPORTANT': 16705372,\n  'VEILLE': 5793266\n};\n\nconst CATEGORY_EMOJI = {\n  'ia-ml': '🤖',\n  'data-eng': '📊',\n  'cloud': '☁️',\n  'devops': '⚙️',\n  'securite': '🔒',\n  'tendances': '📰'\n};\n\nconst CHANNEL_MAP = {\n  'ia-ml': 'IA',\n  'data-eng': 'DEV',\n  'cloud': 'CLOUD',\n  'devops': 'DEV',\n  'securite': 'SECURITE',\n  'tendances': 'TENDANCES'\n};\n\nconst items = $input.all();\n\nconst groups = {};\nfor (const item of items) {\n  const cat = item.json.category || 'tendances';\n  if (!groups[cat]) groups[cat] = [];\n  groups[cat].push(item.json);\n}\n\nconst messages = [];\n\nfor (const [cat, articles] of Object.entries(groups)) {\n  articles.sort((a, b) => b.score - a.score);\n  \n  const channelKey = CHANNEL_MAP[cat] || 'TENDANCES';\n  const emoji = CATEGORY_EMOJI[cat] || '📰';\n  \n  const topArticles = articles.slice(0, 5);\n  const restArticles = articles.slice(5);\n  \n  const embeds = topArticles.map(a => {\n    const color = PRIORITY_COLORS[a.priority] || 5793266;\n    let desc = a.summary || '';\n    if (desc.length > 300) desc = desc.substring(0, 300) + '...';\n    \n    return {\n      title: `[${a.priority}] ${a.title}`.substring(0, 256),\n      url: a.url,\n      description: desc,\n      color: color,\n      fields: [\n        { name: 'Score', value: `${a.score}/10`, inline: true },\n        { name: 'Source', value: a.source || 'N/A', inline: true },\n        { name: 'Categorie', value: cat, inline: true }\n      ],\n      footer: { text: 'Veille Pro' },\n      timestamp: a.publishedAt || new Date().toISOString()\n    };\n  });\n  \n  if (restArticles.length > 0) {\n    const list = restArticles.slice(0, 10).map(a => \n      `• [${a.title}](${a.url}) (${a.score}/10)`\n    ).join('\\n');\n    const extra = restArticles.length > 10 ? `\\n_...et ${restArticles.length - 10} autres_` : '';\n    \n    embeds.push({\n      title: `${emoji} +${restArticles.length} autres articles`,\n      description: list + extra,\n      color: 5793266\n    });\n  }\n  \n  let currentEmbeds = [];\n  let currentChars = 0;\n  \n  for (const embed of embeds) {\n    const embedChars = (embed.title || '').length + (embed.description || '').length + \n      (embed.fields || []).reduce((s, f) => s + f.name.length + f.value.length, 0);\n    \n    if (currentEmbeds.length >= 10 || (currentChars + embedChars > 5500 && currentEmbeds.length > 0)) {\n      messages.push({ json: { channelKey, content: '', embeds: currentEmbeds } });\n      currentEmbeds = [];\n      currentChars = 0;\n    }\n    currentEmbeds.push(embed);\n    currentChars += embedChars;\n  }\n  \n  if (currentEmbeds.length > 0) {\n    messages.push({ json: { channelKey, content: '', embeds: currentEmbeds } });\n  }\n}\n\nconst critiques = items.filter(i => i.json.priority === 'CRITIQUE').map(i => i.json);\nif (critiques.length > 0) {\n  const critiqueEmbeds = critiques.slice(0, 5).map(a => ({\n    title: `🚨 ${a.title}`.substring(0, 256),\n    url: a.url,\n    description: a.summary || '',\n    color: 15548997,\n    fields: [\n      { name: 'Score', value: `${a.score}/10`, inline: true },\n      { name: 'Source', value: a.source || 'N/A', inline: true },\n      { name: 'Categorie', value: a.category, inline: true }\n    ],\n    footer: { text: 'ALERTE CRITIQUE' },\n    timestamp: a.publishedAt || new Date().toISOString()\n  }));\n  messages.push({ json: { channelKey: 'CRITIQUE', content: '@here Alertes critiques detectees', embeds: critiqueEmbeds } });\n}\n\nif (messages.length === 0) {\n  return [{ json: { channelKey: 'STATUS', content: 'Aucun article a distribuer', embeds: [] } }];\n}\n\nreturn messages;"
      },
      "id": "route-discord",
      "name": "Route par Categorie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.channelKey === 'IA' ? $env.DISCORD_WEBHOOK_IA : $json.channelKey === 'DEV' ? $env.DISCORD_WEBHOOK_DEV : $json.channelKey === 'CLOUD' ? $env.DISCORD_WEBHOOK_CLOUD : $json.channelKey === 'SECURITE' ? $env.DISCORD_WEBHOOK_SECURITE : $json.channelKey === 'CRITIQUE' ? $env.DISCORD_WEBHOOK_CRITIQUE : $env.DISCORD_WEBHOOK_TENDANCES }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, embeds: $json.embeds }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "discord-send",
      "name": "Discord Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        -96
      ],
      "retryOnFail": false,
      "maxTries": 1,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const allItems = $('Filter Score >= 5').all();\nconst count = allItems.length;\nconst categories = {};\nconst priorities = {};\n\nfor (const item of allItems) {\n  const cat = item.json.category || 'unknown';\n  const pri = item.json.priority || 'unknown';\n  categories[cat] = (categories[cat] || 0) + 1;\n  priorities[pri] = (priorities[pri] || 0) + 1;\n}\n\nconst catBreakdown = Object.entries(categories).map(([k, v]) => `${k}: ${v}`).join(', ');\nconst priBreakdown = Object.entries(priorities).map(([k, v]) => `${k}: ${v}`).join(', ');\nconst now = new Date();\nconst timeStr = now.toISOString().split('T')[0] + ' ' + now.toISOString().split('T')[1].split('.')[0];\n\nreturn [{\n  json: {\n    content: `**Veille Pro terminee** \\u2014 ${timeStr}\\n\\n\\ud83d\\udcca **${count} articles** distribues\\n\\ud83d\\udcc2 Par categorie: ${catBreakdown}\\n\\ud83c\\udfaf Par priorite: ${priBreakdown}`\n  }\n}];"
      },
      "id": "status-code",
      "name": "Status Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_STATUS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content }) }}",
        "options": {}
      },
      "id": "http-status",
      "name": "Discord Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2752,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "hour-check",
              "leftValue": "={{ new Date().getHours() }}",
              "rightValue": 12,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-afternoon",
      "name": "Is Afternoon?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2448,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $('Filter Score >= 5').all();\nconst today = new Date().toISOString().split('T')[0];\n\nconst articles = allItems.map(i => i.json);\narticles.sort((a, b) => (b.score || 0) - (a.score || 0));\n\nconst articleList = articles.slice(0, 30).map((a, i) => \n  `[${i+1}] [${a.priority}] ${a.title} (${a.category}, ${a.score}/10)\\nResume: ${a.summary || 'N/A'}`\n).join('\\n\\n');\n\nconst prompt = `Tu es un redacteur tech senior. Genere un digest quotidien de veille pour le ${today}.\n\nVoici les ${articles.length} articles du jour (top 30 affiches) :\n\n${articleList}\n\nGenere un digest en francais (max 300 mots) :\n1. **Headline du jour** : le sujet le plus marquant en 1 phrase\n2. **En bref** : 3-5 bullet points des actus cles\n3. **Decouverte du jour** : 1 article moins connu mais interessant\n4. **Stats** : nombre d'articles par categorie\n\nSois factuel et concis.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "digest-prompt",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -448
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "llm-digest",
      "name": "LLM Digest",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2960,
        -448
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-3.1-24b-instruct",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "openrouter-digest",
      "name": "OpenRouter Digest",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2960,
        -240
      ],
      "credentials": {
        "openRouterApi": {
          "id": "__CREDENTIAL_ID__",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text || $input.first().json.output || '';\nconst today = new Date().toISOString().split('T')[0];\nconst description = text.length > 4000 ? text.substring(0, 4000) + '...' : text;\n\nreturn [{\n  json: {\n    content: '',\n    embeds: [{\n      title: `Digest Quotidien - ${today}`,\n      description: description,\n      color: 16766720,\n      footer: { text: 'Veille Pro - Digest' },\n      timestamp: new Date().toISOString()\n    }]\n  }\n}];"
      },
      "id": "digest-embed",
      "name": "Format Digest Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_DIGEST }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, embeds: $json.embeds }) }}",
        "options": {}
      },
      "id": "discord-digest",
      "name": "Discord Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3456,
        -448
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.weekArticles) staticData.weekArticles = [];\n\nconst articles = $input.all();\nfor (const item of articles) {\n  staticData.weekArticles.push({\n    title: item.json.title,\n    url: item.json.url,\n    category: item.json.category,\n    score: item.json.score,\n    priority: item.json.priority,\n    summary: item.json.summary || '',\n    date: new Date().toISOString().split('T')[0]\n  });\n}\n\nconst weekAgo = new Date();\nweekAgo.setDate(weekAgo.getDate() - 7);\nconst cutoff = weekAgo.toISOString().split('T')[0];\nstaticData.weekArticles = staticData.weekArticles.filter(a => a.date >= cutoff);\n\nreturn articles;"
      },
      "id": "save-week",
      "name": "Save Week Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ new Date().getDay() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "id": "condition-1772730668618-yjik8fglp"
            }
          ]
        },
        "options": {}
      },
      "id": "check-sunday",
      "name": "Is Sunday?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3712,
        -448
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst articles = staticData.weekArticles || [];\n\nif (articles.length === 0) {\n  return [{ json: { prompt: 'Aucun article cette semaine.', skip: true } }];\n}\n\nconst byCategory = {};\nfor (const a of articles) {\n  if (!byCategory[a.category]) byCategory[a.category] = [];\n  byCategory[a.category].push(a);\n}\n\nlet articleList = '';\nfor (const [cat, arts] of Object.entries(byCategory)) {\n  articleList += `\\n## ${cat} (${arts.length} articles)\\n`;\n  for (const a of arts.slice(0, 5)) {\n    articleList += `- [${a.priority}] ${a.title} (score: ${a.score})\\n`;\n  }\n}\n\nconst now = new Date();\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - 7);\n\nconst prompt = `Tu es un analyste tech senior. Voici les ${articles.length} articles classes cette semaine (${weekStart.toLocaleDateString('fr-FR')} au ${now.toLocaleDateString('fr-FR')}) :\\n${articleList}\\n\\nGenere un digest hebdomadaire structure :\\n1. **Tendances cles** (3-5 tendances majeures)\\n2. **Top 5 articles** (les plus impactants avec resume 1 phrase)\\n3. **Stats** (repartition par categorie, nombre total)\\n\\nSois concis et factuel. Reponds en francais.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "hebdo-prompt",
      "name": "Format Hebdo Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        -608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "llm-hebdo",
      "name": "LLM Hebdo",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4208,
        -608
      ]
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-3.1-24b-instruct:free",
        "options": {}
      },
      "id": "openrouter-hebdo",
      "name": "OpenRouter Hebdo",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4208,
        -368
      ],
      "credentials": {
        "openRouterApi": {
          "id": "__CREDENTIAL_ID__",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst now = new Date();\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - 7);\n\nconst description = text.length > 4000 ? text.substring(0, 4000) + '...' : text;\n\nreturn [{\n  json: {\n    content: '',\n    embeds: [{\n      title: `Digest Hebdomadaire - ${weekStart.toLocaleDateString('fr-FR')} au ${now.toLocaleDateString('fr-FR')}`,\n      description: description,\n      color: 5793266,\n      footer: { text: 'Veille Pro - Digest Hebdo' },\n      timestamp: new Date().toISOString()\n    }]\n  }\n}];"
      },
      "id": "hebdo-embed",
      "name": "Format Hebdo Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        -608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_HEBDO }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "discord-hebdo",
      "name": "Discord Hebdo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4704,
        -608
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.weekArticles = [];\nreturn [{ json: { cleared: true, timestamp: new Date().toISOString() } }];"
      },
      "id": "clear-week",
      "name": "Clear Week Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        -608
      ]
    },
    {
      "id": "jina-fetch",
      "name": "Fetch Full Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        112
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let fullText = '';\n  try {\n    const resp = await fetch('https://r.jina.ai/' + item.json.url, {\n      headers: { 'Accept': 'text/plain' },\n      signal: AbortSignal.timeout(10000)\n    });\n    if (resp.ok) {\n      const text = await resp.text();\n      fullText = text.substring(0, 1500);\n    }\n  } catch (e) {\n    // fetch not available or failed - fallback to snippet\n    fullText = '';\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      fullText: fullText || item.json.snippet || item.json.title\n    }\n  });\n  \n  // Rate limit 300ms\n  await new Promise(r => setTimeout(r, 300));\n}\n\nreturn results;"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed URLs": {
      "main": [
        [
          {
            "node": "Loop Over Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Feeds": {
      "main": [
        [
          {
            "node": "Dedup + Filter 24h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Tag Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Category": {
      "main": [
        [
          {
            "node": "Loop Over Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup + Filter 24h": {
      "main": [
        [
          {
            "node": "Filter Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty": {
      "main": [
        [
          {
            "node": "Pre-filtre Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch pour LLM": {
      "main": [
        [
          {
            "node": "Filter Score >= 5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Prompt LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt LLM": {
      "main": [
        [
          {
            "node": "Classification LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classification LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classification LLM": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Batch pour LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Send": {
      "main": [
        [
          {
            "node": "Status Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Afternoon?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Message": {
      "main": [
        [
          {
            "node": "Discord Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route par Categorie": {
      "main": [
        [
          {
            "node": "Discord Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Afternoon?": {
      "main": [
        [
          {
            "node": "Format Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest": {
      "main": [
        [
          {
            "node": "LLM Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Digest": {
      "main": [
        [
          {
            "node": "Format Digest Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest Embed": {
      "main": [
        [
          {
            "node": "Discord Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Digest": {
      "main": [
        []
      ],
      "ai_languageModel": [
        [
          {
            "node": "LLM Digest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter Score >= 5": {
      "main": [
        [
          {
            "node": "Save Week Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Week Articles": {
      "main": [
        [
          {
            "node": "Route par Categorie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Digest": {
      "main": [
        [
          {
            "node": "Is Sunday?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Sunday?": {
      "main": [
        [
          {
            "node": "Format Hebdo Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Hebdo Prompt": {
      "main": [
        [
          {
            "node": "LLM Hebdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Hebdo": {
      "main": [
        []
      ],
      "ai_languageModel": [
        [
          {
            "node": "LLM Hebdo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Hebdo": {
      "main": [
        [
          {
            "node": "Format Hebdo Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Hebdo Embed": {
      "main": [
        [
          {
            "node": "Discord Hebdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Hebdo": {
      "main": [
        [
          {
            "node": "Clear Week Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-filtre Keywords": {
      "main": [
        [
          {
            "node": "Fetch Full Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Text": {
      "main": [
        [
          {
            "node": "Batch pour LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "yrUX1IcjTyIwpWqG",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "timeSavedPerExecution": 30
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "seenUrls": {
        "https://openai.com/index/introducing-gpt-5-4": 1772780470625,
        "https://openai.com/index/reasoning-models-chain-of-thought-controllability": 1772780470625,
        "https://openai.com/index/gpt-5-4-thinking-system-card": 1772780470625,
        "https://openai.com/index/ai-education-opportunity": 1772780470625,
        "https://blog.google/company-news/inside-google/googlers/how-google-ai-visual-search-works": 1772780470625,
        "https://blog.google/innovation-and-ai/products/google-ai-updates-february-2026": 1772780470625,
        "https://huggingface.co/blog/nxp/bringing-robotics-ai-to-embedded-platforms": 1772780470625,
        "https://arxiv.org/abs/2603.04448": 1772780470625,
        "https://arxiv.org/abs/2603.04457": 1772780470625,
        "https://arxiv.org/abs/2603.04514": 1772780470625,
        "https://arxiv.org/abs/2603.04528": 1772780470625,
        "https://arxiv.org/abs/2603.04549": 1772780470625,
        "https://arxiv.org/abs/2603.04582": 1772780470625,
        "https://arxiv.org/abs/2603.04589": 1772780470625,
        "https://arxiv.org/abs/2603.04631": 1772780470625,
        "https://arxiv.org/abs/2603.04636": 1772780470625,
        "https://arxiv.org/abs/2603.04670": 1772780470625,
        "https://arxiv.org/abs/2603.04722": 1772780470625,
        "https://arxiv.org/abs/2603.04723": 1772780470625,
        "https://arxiv.org/abs/2603.04735": 1772780470625,
        "https://arxiv.org/abs/2603.04737": 1772780470625,
        "https://arxiv.org/abs/2603.04740": 1772780470625,
        "https://arxiv.org/abs/2603.04741": 1772780470625,
        "https://arxiv.org/abs/2603.04746": 1772780470625,
        "https://arxiv.org/abs/2603.04750": 1772780470625,
        "https://arxiv.org/abs/2603.04751": 1772780470625,
        "https://arxiv.org/abs/2603.04756": 1772780470625,
        "https://arxiv.org/abs/2603.04783": 1772780470625,
        "https://arxiv.org/abs/2603.04791": 1772780470625,
        "https://arxiv.org/abs/2603.04815": 1772780470625,
        "https://arxiv.org/abs/2603.04818": 1772780470625,
        "https://arxiv.org/abs/2603.04822": 1772780470625,
        "https://arxiv.org/abs/2603.04837": 1772780470625,
        "https://arxiv.org/abs/2603.04852": 1772780470625,
        "https://arxiv.org/abs/2603.04861": 1772780470625,
        "https://arxiv.org/abs/2603.04868": 1772780470625,
        "https://arxiv.org/abs/2603.04873": 1772780470625,
        "https://arxiv.org/abs/2603.04885": 1772780470625,
        "https://arxiv.org/abs/2603.04894": 1772780470625,
        "https://arxiv.org/abs/2603.04896": 1772780470625,
        "https://arxiv.org/abs/2603.04900": 1772780470625,
        "https://arxiv.org/abs/2603.04904": 1772780470625,
        "https://arxiv.org/abs/2603.04920": 1772780470625,
        "https://arxiv.org/abs/2603.04949": 1772780470625,
        "https://arxiv.org/abs/2603.04951": 1772780470625,
        "https://arxiv.org/abs/2603.04981": 1772780470625,
        "https://arxiv.org/abs/2603.05016": 1772780470625,
        "https://arxiv.org/abs/2603.05024": 1772780470625,
        "https://arxiv.org/abs/2603.05027": 1772780470625,
        "https://arxiv.org/abs/2603.05028": 1772780470625,
        "https://arxiv.org/abs/2603.05031": 1772780470625,
        "https://arxiv.org/abs/2603.05036": 1772780470625,
        "https://arxiv.org/abs/2603.05040": 1772780470625,
        "https://arxiv.org/abs/2603.05044": 1772780470625,
        "https://arxiv.org/abs/2603.05069": 1772780470625,
        "https://arxiv.org/abs/2603.05120": 1772780470625,
        "https://arxiv.org/abs/2603.05129": 1772780470625,
        "https://arxiv.org/abs/2603.05218": 1772780470625,
        "https://arxiv.org/abs/2603.05225": 1772780470625,
        "https://arxiv.org/abs/2603.05235": 1772780470625,
        "https://arxiv.org/abs/2603.05240": 1772780470625,
        "https://arxiv.org/abs/2603.05290": 1772780470625,
        "https://arxiv.org/abs/2603.05294": 1772780470625,
        "https://arxiv.org/abs/2603.05295": 1772780470625,
        "https://arxiv.org/abs/2603.05301": 1772780470625,
        "https://arxiv.org/abs/2603.05344": 1772780470625,
        "https://arxiv.org/abs/2603.05352": 1772780470625,
        "https://arxiv.org/abs/2603.05361": 1772780470625,
        "https://arxiv.org/abs/2603.05392": 1772780470625,
        "https://arxiv.org/abs/2603.05399": 1772780470625,
        "https://arxiv.org/abs/2603.05414": 1772780470625,
        "https://arxiv.org/abs/2603.05450": 1772780470625,
        "https://arxiv.org/abs/2603.05485": 1772780470625,
        "https://arxiv.org/abs/2603.05498": 1772780470625,
        "https://arxiv.org/abs/2603.03510": 1772780470625,
        "https://arxiv.org/abs/2603.04403": 1772780470625,
        "https://arxiv.org/abs/2603.04405": 1772780470625,
        "https://arxiv.org/abs/2603.04406": 1772780470625,
        "https://arxiv.org/abs/2603.04407": 1772780470625,
        "https://arxiv.org/abs/2603.04409": 1772780470625,
        "https://arxiv.org/abs/2603.04410": 1772780470625,
        "https://arxiv.org/abs/2603.04411": 1772780470625,
        "https://arxiv.org/abs/2603.04413": 1772780470625,
        "https://arxiv.org/abs/2603.04418": 1772780470625,
        "https://arxiv.org/abs/2603.04419": 1772780470625,
        "https://arxiv.org/abs/2603.04421": 1772780470625,
        "https://arxiv.org/abs/2603.04422": 1772780470625,
        "https://arxiv.org/abs/2603.04423": 1772780470625,
        "https://arxiv.org/abs/2603.04426": 1772780470625,
        "https://arxiv.org/abs/2603.04427": 1772780470625,
        "https://arxiv.org/abs/2603.04428": 1772780470625,
        "https://arxiv.org/abs/2603.04429": 1772780470625,
        "https://arxiv.org/abs/2603.04431": 1772780470625,
        "https://arxiv.org/abs/2603.04436": 1772780470625,
        "https://arxiv.org/abs/2603.04437": 1772780470625,
        "https://arxiv.org/abs/2603.04438": 1772780470625,
        "https://arxiv.org/abs/2603.04440": 1772780470625,
        "https://arxiv.org/abs/2603.04443": 1772780470625,
        "https://arxiv.org/abs/2603.04444": 1772780470625,
        "https://arxiv.org/abs/2603.04449": 1772780470625,
        "https://arxiv.org/abs/2603.04450": 1772780470625,
        "https://arxiv.org/abs/2603.04451": 1772780470625,
        "https://arxiv.org/abs/2603.04452": 1772780470625,
        "https://arxiv.org/abs/2603.04453": 1772780470625,
        "https://arxiv.org/abs/2603.04454": 1772780470625,
        "https://arxiv.org/abs/2603.04455": 1772780470625,
        "https://arxiv.org/abs/2603.04458": 1772780470625,
        "https://arxiv.org/abs/2603.04459": 1772780470625,
        "https://arxiv.org/abs/2603.04460": 1772780470625,
        "https://arxiv.org/abs/2603.04461": 1772780470625,
        "https://arxiv.org/abs/2603.04464": 1772780470625,
        "https://arxiv.org/abs/2603.04472": 1772780470625,
        "https://arxiv.org/abs/2603.04474": 1772780470625,
        "https://arxiv.org/abs/2603.04477": 1772780470625,
        "https://arxiv.org/abs/2603.04516": 1772780470625,
        "https://arxiv.org/abs/2603.04523": 1772780470625,
        "https://arxiv.org/abs/2603.04532": 1772780470625,
        "https://arxiv.org/abs/2603.04534": 1772780470625,
        "https://arxiv.org/abs/2603.04537": 1772780470625,
        "https://arxiv.org/abs/2603.04580": 1772780470625,
        "https://arxiv.org/abs/2603.04597": 1772780470625,
        "https://arxiv.org/abs/2603.04601": 1772780470625,
        "https://arxiv.org/abs/2603.04639": 1772780470625,
        "https://arxiv.org/abs/2603.04648": 1772780470625,
        "https://arxiv.org/abs/2603.04659": 1772780470625,
        "https://arxiv.org/abs/2603.04663": 1772780470625,
        "https://arxiv.org/abs/2603.04676": 1772780470625,
        "https://arxiv.org/abs/2603.04678": 1772780470625,
        "https://arxiv.org/abs/2603.04688": 1772780470625,
        "https://arxiv.org/abs/2603.04698": 1772780470625,
        "https://arxiv.org/abs/2603.04707": 1772780470625,
        "https://arxiv.org/abs/2603.04710": 1772780470625,
        "https://arxiv.org/abs/2603.04715": 1772780470625,
        "https://arxiv.org/abs/2603.04718": 1772780470625,
        "https://arxiv.org/abs/2603.04727": 1772780470625,
        "https://arxiv.org/abs/2603.04743": 1772780470625,
        "https://arxiv.org/abs/2603.04759": 1772780470625,
        "https://arxiv.org/abs/2603.04763": 1772780470625,
        "https://arxiv.org/abs/2603.04770": 1772780470625,
        "https://arxiv.org/abs/2603.04771": 1772780470625,
        "https://arxiv.org/abs/2603.04772": 1772780470625,
        "https://arxiv.org/abs/2603.04795": 1772780470625,
        "https://arxiv.org/abs/2603.04796": 1772780470625,
        "https://arxiv.org/abs/2603.04799": 1772780470625,
        "https://arxiv.org/abs/2603.04803": 1772780470625,
        "https://arxiv.org/abs/2603.04805": 1772780470625,
        "https://arxiv.org/abs/2603.04811": 1772780470625,
        "https://arxiv.org/abs/2603.04819": 1772780470625,
        "https://arxiv.org/abs/2603.04827": 1772780470625,
        "https://arxiv.org/abs/2603.04833": 1772780470625,
        "https://arxiv.org/abs/2603.04840": 1772780470625,
        "https://arxiv.org/abs/2603.04874": 1772780470625,
        "https://arxiv.org/abs/2603.04882": 1772780470625,
        "https://arxiv.org/abs/2603.04890": 1772780470625,
        "https://arxiv.org/abs/2603.04893": 1772780470625,
        "https://arxiv.org/abs/2603.04902": 1772780470625,
        "https://arxiv.org/abs/2603.04905": 1772780470625,
        "https://arxiv.org/abs/2603.04910": 1772780470625,
        "https://arxiv.org/abs/2603.04915": 1772780470625,
        "https://arxiv.org/abs/2603.04918": 1772780470625,
        "https://arxiv.org/abs/2603.04950": 1772780470625,
        "https://arxiv.org/abs/2603.04968": 1772780470625,
        "https://arxiv.org/abs/2603.04969": 1772780470625,
        "https://arxiv.org/abs/2603.04971": 1772780470625,
        "https://arxiv.org/abs/2603.04976": 1772780470625,
        "https://arxiv.org/abs/2603.04982": 1772780470625,
        "https://arxiv.org/abs/2603.04986": 1772780470625,
        "https://arxiv.org/abs/2603.05004": 1772780470625,
        "https://arxiv.org/abs/2603.05057": 1772780470625,
        "https://arxiv.org/abs/2603.05058": 1772780470625,
        "https://arxiv.org/abs/2603.05068": 1772780470625,
        "https://arxiv.org/abs/2603.05092": 1772780470625,
        "https://arxiv.org/abs/2603.05093": 1772780470625,
        "https://arxiv.org/abs/2603.05095": 1772780470625,
        "https://arxiv.org/abs/2603.05099": 1772780470625,
        "https://arxiv.org/abs/2603.05111": 1772780470625,
        "https://arxiv.org/abs/2603.05114": 1772780470625,
        "https://arxiv.org/abs/2603.05116": 1772780470625,
        "https://arxiv.org/abs/2603.05121": 1772780470625,
        "https://arxiv.org/abs/2603.05134": 1772780470625,
        "https://arxiv.org/abs/2603.05139": 1772780470625,
        "https://arxiv.org/abs/2603.05140": 1772780470625,
        "https://arxiv.org/abs/2603.05149": 1772780470625,
        "https://arxiv.org/abs/2603.05152": 1772780470625,
        "https://arxiv.org/abs/2603.05160": 1772780470625,
        "https://arxiv.org/abs/2603.05167": 1772780470625,
        "https://arxiv.org/abs/2603.05171": 1772780470625,
        "https://arxiv.org/abs/2603.05184": 1772780470625,
        "https://arxiv.org/abs/2603.05188": 1772780470625,
        "https://arxiv.org/abs/2603.05204": 1772780470625,
        "https://arxiv.org/abs/2603.05210": 1772780470625,
        "https://arxiv.org/abs/2603.05212": 1772780470625,
        "https://arxiv.org/abs/2603.05219": 1772780470625,
        "https://arxiv.org/abs/2603.05228": 1772780470625,
        "https://arxiv.org/abs/2603.05229": 1772780470625,
        "https://arxiv.org/abs/2603.05231": 1772780470625,
        "https://arxiv.org/abs/2603.05234": 1772780470625,
        "https://arxiv.org/abs/2603.05270": 1772780470625,
        "https://arxiv.org/abs/2603.05276": 1772780470625,
        "https://arxiv.org/abs/2603.05299": 1772780470625,
        "https://arxiv.org/abs/2603.05308": 1772780470625,
        "https://arxiv.org/abs/2603.05310": 1772780470625,
        "https://arxiv.org/abs/2603.05314": 1772780470625,
        "https://arxiv.org/abs/2603.05318": 1772780470625,
        "https://arxiv.org/abs/2603.05370": 1772780470625,
        "https://arxiv.org/abs/2603.05418": 1772780470625,
        "https://arxiv.org/abs/2603.05421": 1772780470625,
        "https://arxiv.org/abs/2603.05425": 1772780470625,
        "https://arxiv.org/abs/2603.05432": 1772780470625,
        "https://arxiv.org/abs/2603.05437": 1772780470625,
        "https://arxiv.org/abs/2603.05438": 1772780470625,
        "https://arxiv.org/abs/2603.05448": 1772780470625,
        "https://arxiv.org/abs/2603.05449": 1772780470625,
        "https://arxiv.org/abs/2603.05471": 1772780470625,
        "https://arxiv.org/abs/2603.05483": 1772780470625,
        "https://arxiv.org/abs/2603.05488": 1772780470625,
        "https://arxiv.org/abs/2603.05494": 1772780470625,
        "https://arxiv.org/abs/2603.05500": 1772780470625,
        "https://arxiv.org/abs/2603.05504": 1772780470625,
        "https://arxiv.org/abs/2404.16721": 1772780470625,
        "https://arxiv.org/abs/2503.07928": 1772780470625,
        "https://arxiv.org/abs/2503.11832": 1772780470625,
        "https://arxiv.org/abs/2505.04997": 1772780470625,
        "https://arxiv.org/abs/2505.13770": 1772780470625,
        "https://arxiv.org/abs/2506.07915": 1772780470625,
        "https://arxiv.org/abs/2509.23589": 1772780470625,
        "https://arxiv.org/abs/2510.08966": 1772780470625,
        "https://arxiv.org/abs/2510.10689": 1772780470625,
        "https://arxiv.org/abs/2511.04439": 1772780470625,
        "https://arxiv.org/abs/2511.13306": 1772780470625,
        "https://arxiv.org/abs/2511.21033": 1772780470625,
        "https://arxiv.org/abs/2512.07081": 1772780470625,
        "https://arxiv.org/abs/2512.10534": 1772780470625,
        "https://arxiv.org/abs/2512.14106": 1772780470625,
        "https://arxiv.org/abs/2601.03604": 1772780470625,
        "https://arxiv.org/abs/2601.22571": 1772780470625,
        "https://arxiv.org/abs/2602.00485": 1772780470625,
        "https://arxiv.org/abs/2602.18764": 1772780470625,
        "https://arxiv.org/abs/2602.23974": 1772780470625,
        "https://arxiv.org/abs/2603.01145": 1772780470625,
        "https://arxiv.org/abs/2603.01209": 1772780470625,
        "https://arxiv.org/abs/2603.01620": 1772780470625,
        "https://arxiv.org/abs/2112.13243": 1772780470625,
        "https://arxiv.org/abs/2401.05683": 1772780470625,
        "https://arxiv.org/abs/2403.01977": 1772780470625,
        "https://arxiv.org/abs/2502.03540": 1772780470625,
        "https://arxiv.org/abs/2502.08577": 1772780470625,
        "https://arxiv.org/abs/2502.17100": 1772780470625,
        "https://arxiv.org/abs/2503.11730": 1772780470625,
        "https://arxiv.org/abs/2503.16558": 1772780470625,
        "https://arxiv.org/abs/2504.04372": 1772780470625,
        "https://arxiv.org/abs/2504.07654": 1772780470625,
        "https://arxiv.org/abs/2505.05589": 1772780470625,
        "https://arxiv.org/abs/2505.06737": 1772780470625,
        "https://arxiv.org/abs/2505.06740": 1772780470625,
        "https://arxiv.org/abs/2505.08264": 1772780470625,
        "https://arxiv.org/abs/2505.18374": 1772780470625,
        "https://arxiv.org/abs/2505.19255": 1772780470625,
        "https://arxiv.org/abs/2506.01062": 1772780470625,
        "https://arxiv.org/abs/2506.06683": 1772780470625,
        "https://arxiv.org/abs/2506.08618": 1772780470625,
        "https://arxiv.org/abs/2506.09984": 1772780470625,
        "https://arxiv.org/abs/2506.14020": 1772780470625,
        "https://arxiv.org/abs/2506.18339": 1772780470625,
        "https://arxiv.org/abs/2506.23508": 1772780470625,
        "https://arxiv.org/abs/2507.01785": 1772780470625,
        "https://arxiv.org/abs/2507.07999": 1772780470625,
        "https://arxiv.org/abs/2507.09264": 1772780470625,
        "https://arxiv.org/abs/2508.06249": 1772780470625,
        "https://arxiv.org/abs/2508.16332": 1772780470625,
        "https://arxiv.org/abs/2508.16943": 1772780470625,
        "https://arxiv.org/abs/2509.05983": 1772780470625,
        "https://arxiv.org/abs/2509.08177": 1772780470625,
        "https://arxiv.org/abs/2509.19696": 1772780470625,
        "https://arxiv.org/abs/2509.20321": 1772780470625,
        "https://arxiv.org/abs/2509.20509": 1772780470625,
        "https://arxiv.org/abs/2509.23886": 1772780470625,
        "https://arxiv.org/abs/2509.24210": 1772780470625,
        "https://arxiv.org/abs/2509.25149": 1772780470625,
        "https://arxiv.org/abs/2510.00177": 1772780470625,
        "https://arxiv.org/abs/2510.00405": 1772780470625,
        "https://arxiv.org/abs/2510.00507": 1772780470625,
        "https://arxiv.org/abs/2510.03160": 1772780470625,
        "https://arxiv.org/abs/2510.06068": 1772780470625,
        "https://arxiv.org/abs/2510.13063": 1772780470625,
        "https://arxiv.org/abs/2510.13900": 1772780470625,
        "https://arxiv.org/abs/2510.14959": 1772780470625,
        "https://arxiv.org/abs/2510.16688": 1772780470625,
        "https://arxiv.org/abs/2510.16714": 1772780470625,
        "https://arxiv.org/abs/2510.16834": 1772780470625,
        "https://arxiv.org/abs/2510.18876": 1772780470625,
        "https://arxiv.org/abs/2510.20333": 1772780470625,
        "https://arxiv.org/abs/2510.22503": 1772780470625,
        "https://arxiv.org/abs/2510.27173": 1772780470625,
        "https://arxiv.org/abs/2511.00141": 1772780470625,
        "https://arxiv.org/abs/2511.01870": 1772780470625,
        "https://arxiv.org/abs/2511.03153": 1772780470625,
        "https://arxiv.org/abs/2511.08344": 1772780470625,
        "https://arxiv.org/abs/2511.14599": 1772780470625,
        "https://arxiv.org/abs/2511.16786": 1772780470625,
        "https://arxiv.org/abs/2511.17929": 1772780470625,
        "https://arxiv.org/abs/2511.19500": 1772780470625,
        "https://arxiv.org/abs/2511.21399": 1772780470625,
        "https://arxiv.org/abs/2512.01153": 1772780470625,
        "https://arxiv.org/abs/2512.01565": 1772780470625,
        "https://arxiv.org/abs/2512.03973": 1772780470625,
        "https://arxiv.org/abs/2512.04277": 1772780470625,
        "https://arxiv.org/abs/2512.04551": 1772780470625,
        "https://arxiv.org/abs/2512.05865": 1772780470625,
        "https://arxiv.org/abs/2512.13586": 1772780470625,
        "https://arxiv.org/abs/2512.14391": 1772780470625,
        "https://arxiv.org/abs/2512.15163": 1772780470625,
        "https://arxiv.org/abs/2512.22425": 1772780470625,
        "https://arxiv.org/abs/2601.01832": 1772780470625,
        "https://arxiv.org/abs/2601.02663": 1772780470625,
        "https://arxiv.org/abs/2601.04548": 1772780470625,
        "https://arxiv.org/abs/2601.08393": 1772780470625,
        "https://arxiv.org/abs/2601.11063": 1772780470625,
        "https://arxiv.org/abs/2601.11527": 1772780470625,
        "https://arxiv.org/abs/2601.13563": 1772780470625,
        "https://arxiv.org/abs/2601.14327": 1772780470625,
        "https://arxiv.org/abs/2601.16333": 1772780470625,
        "https://arxiv.org/abs/2601.19175": 1772780470625,
        "https://arxiv.org/abs/2601.21149": 1772780470625,
        "https://arxiv.org/abs/2601.23236": 1772780470625,
        "https://arxiv.org/abs/2602.01601": 1772780470625,
        "https://arxiv.org/abs/2602.01939": 1772780470625,
        "https://arxiv.org/abs/2602.06801": 1772780470625,
        "https://arxiv.org/abs/2602.07075": 1772780470625,
        "https://arxiv.org/abs/2602.09980": 1772780470625,
        "https://arxiv.org/abs/2602.09988": 1772780470625,
        "https://arxiv.org/abs/2602.13308": 1772780470625,
        "https://arxiv.org/abs/2602.13704": 1772780470625,
        "https://arxiv.org/abs/2602.15654": 1772780470625,
        "https://arxiv.org/abs/2602.17330": 1772780470625,
        "https://arxiv.org/abs/2602.17686": 1772780470625,
        "https://arxiv.org/abs/2602.18929": 1772780470625,
        "https://arxiv.org/abs/2602.19948": 1772780470625,
        "https://arxiv.org/abs/2602.22101": 1772780470625,
        "https://arxiv.org/abs/2602.22251": 1772780470625,
        "https://arxiv.org/abs/2602.23694": 1772780470625,
        "https://arxiv.org/abs/2602.24009": 1772780470625,
        "https://arxiv.org/abs/2602.24096": 1772780470625,
        "https://arxiv.org/abs/2603.00152": 1772780470625,
        "https://arxiv.org/abs/2603.00589": 1772780470625,
        "https://arxiv.org/abs/2603.00918": 1772780470625,
        "https://arxiv.org/abs/2603.01776": 1772780470625,
        "https://arxiv.org/abs/2603.01919": 1772780470625,
        "https://arxiv.org/abs/2603.02002": 1772780470625,
        "https://arxiv.org/abs/2603.02175": 1772780470625,
        "https://arxiv.org/abs/2603.03043": 1772780470625,
        "https://arxiv.org/abs/2603.03378": 1772780470625,
        "https://arxiv.org/abs/2603.03388": 1772780470625,
        "https://arxiv.org/abs/2603.03769": 1772780470625,
        "https://arxiv.org/abs/2603.03804": 1772780470625,
        "https://arxiv.org/abs/2603.03992": 1772780470625,
        "https://arxiv.org/abs/2603.04162": 1772780470625,
        "https://arxiv.org/abs/2603.04420": 1772780470625,
        "https://arxiv.org/abs/2603.04430": 1772780470625,
        "https://arxiv.org/abs/2603.04478": 1772780470625,
        "https://arxiv.org/abs/2603.04545": 1772780470625,
        "https://arxiv.org/abs/2603.04546": 1772780470625,
        "https://arxiv.org/abs/2603.04553": 1772780470625,
        "https://arxiv.org/abs/2603.04595": 1772780470625,
        "https://arxiv.org/abs/2603.04606": 1772780470625,
        "https://arxiv.org/abs/2603.04625": 1772780470625,
        "https://arxiv.org/abs/2603.04683": 1772780470625,
        "https://arxiv.org/abs/2603.04692": 1772780470625,
        "https://arxiv.org/abs/2603.04703": 1772780470625,
        "https://arxiv.org/abs/2603.04730": 1772780470625,
        "https://arxiv.org/abs/2603.04731": 1772780470625,
        "https://arxiv.org/abs/2603.04736": 1772780470625,
        "https://arxiv.org/abs/2603.04755": 1772780470625,
        "https://arxiv.org/abs/2603.04767": 1772780470625,
        "https://arxiv.org/abs/2603.04768": 1772780470625,
        "https://arxiv.org/abs/2603.04780": 1772780470625,
        "https://arxiv.org/abs/2603.04790": 1772780470625,
        "https://arxiv.org/abs/2603.04831": 1772780470625,
        "https://arxiv.org/abs/2603.04851": 1772780470625,
        "https://arxiv.org/abs/2603.04881": 1772780470625,
        "https://arxiv.org/abs/2603.04898": 1772780470625,
        "https://arxiv.org/abs/2603.04936": 1772780470625,
        "https://arxiv.org/abs/2603.04948": 1772780470625,
        "https://arxiv.org/abs/2603.04955": 1772780470625,
        "https://arxiv.org/abs/2603.04956": 1772780470625,
        "https://arxiv.org/abs/2603.04972": 1772780470625,
        "https://arxiv.org/abs/2603.04998": 1772780470625,
        "https://arxiv.org/abs/2603.05000": 1772780470625,
        "https://arxiv.org/abs/2603.05002": 1772780470625,
        "https://arxiv.org/abs/2603.05048": 1772780470625,
        "https://arxiv.org/abs/2603.05060": 1772780470625,
        "https://arxiv.org/abs/2603.05062": 1772780470625,
        "https://arxiv.org/abs/2603.05066": 1772780470625,
        "https://arxiv.org/abs/2603.05067": 1772780470625,
        "https://arxiv.org/abs/2603.05113": 1772780470625,
        "https://arxiv.org/abs/2603.05158": 1772780470625,
        "https://arxiv.org/abs/2603.05172": 1772780470625,
        "https://arxiv.org/abs/2603.05175": 1772780470625,
        "https://arxiv.org/abs/2603.05201": 1772780470625,
        "https://arxiv.org/abs/2603.05232": 1772780470625,
        "https://arxiv.org/abs/2603.05263": 1772780470625,
        "https://arxiv.org/abs/2603.05267": 1772780470625,
        "https://arxiv.org/abs/2603.05293": 1772780470625,
        "https://arxiv.org/abs/2603.05327": 1772780470625,
        "https://arxiv.org/abs/2603.05343": 1772780470625,
        "https://arxiv.org/abs/2603.05353": 1772780470625,
        "https://arxiv.org/abs/2603.05371": 1772780470625,
        "https://arxiv.org/abs/2603.05375": 1772780470625,
        "https://arxiv.org/abs/2603.05395": 1772780470625,
        "https://arxiv.org/abs/2603.05423": 1772780470625,
        "https://arxiv.org/abs/2603.05433": 1772780470625,
        "https://arxiv.org/abs/2603.05440": 1772780470625,
        "https://arxiv.org/abs/2603.05468": 1772780470625,
        "https://arxiv.org/abs/2603.05495": 1772780470625,
        "https://arxiv.org/abs/2603.04424": 1772780470625,
        "https://arxiv.org/abs/2603.04425": 1772780470625,
        "https://arxiv.org/abs/2603.04433": 1772780470625,
        "https://arxiv.org/abs/2603.04441": 1772780470625,
        "https://arxiv.org/abs/2603.04466": 1772780470625,
        "https://arxiv.org/abs/2603.04473": 1772780470625,
        "https://arxiv.org/abs/2603.04479": 1772780470625,
        "https://arxiv.org/abs/2603.04480": 1772780470625,
        "https://arxiv.org/abs/2603.04525": 1772780470625,
        "https://arxiv.org/abs/2603.04535": 1772780470625,
        "https://arxiv.org/abs/2603.04551": 1772780470625,
        "https://arxiv.org/abs/2603.04562": 1772780470625,
        "https://arxiv.org/abs/2603.04635": 1772780470625,
        "https://arxiv.org/abs/2603.04638": 1772780470625,
        "https://arxiv.org/abs/2603.04656": 1772780470625,
        "https://arxiv.org/abs/2603.04672": 1772780470625,
        "https://arxiv.org/abs/2603.04689": 1772780470625,
        "https://arxiv.org/abs/2603.04716": 1772780470625,
        "https://arxiv.org/abs/2603.04720": 1772780470625,
        "https://arxiv.org/abs/2603.04807": 1772780470625,
        "https://arxiv.org/abs/2603.04809": 1772780470625,
        "https://arxiv.org/abs/2603.04812": 1772780470625,
        "https://arxiv.org/abs/2603.04825": 1772780470625,
        "https://arxiv.org/abs/2603.04859": 1772780470625,
        "https://arxiv.org/abs/2603.04895": 1772780470625,
        "https://arxiv.org/abs/2603.04938": 1772780470625,
        "https://arxiv.org/abs/2603.04964": 1772780470625,
        "https://arxiv.org/abs/2603.05026": 1772780470625,
        "https://arxiv.org/abs/2603.05035": 1772780470625,
        "https://arxiv.org/abs/2603.05110": 1772780470625,
        "https://arxiv.org/abs/2603.05135": 1772780470625,
        "https://arxiv.org/abs/2603.05143": 1772780470625,
        "https://arxiv.org/abs/2603.05157": 1772780470625,
        "https://arxiv.org/abs/2603.05161": 1772780470625,
        "https://arxiv.org/abs/2603.05226": 1772780470625,
        "https://arxiv.org/abs/2603.05280": 1772780470625,
        "https://arxiv.org/abs/2603.05288": 1772780470625,
        "https://arxiv.org/abs/2603.05296": 1772780470625,
        "https://arxiv.org/abs/2603.05317": 1772780470625,
        "https://arxiv.org/abs/2603.05335": 1772780470625,
        "https://arxiv.org/abs/2603.05340": 1772780470625,
        "https://arxiv.org/abs/2603.05396": 1772780470625,
        "https://arxiv.org/abs/2603.05480": 1772780470625,
        "https://arxiv.org/abs/2404.03759": 1772780470625,
        "https://arxiv.org/abs/2406.14777": 1772780470625,
        "https://arxiv.org/abs/2411.09847": 1772780470625,
        "https://arxiv.org/abs/2412.20298": 1772780470625,
        "https://arxiv.org/abs/2502.05360": 1772780470625,
        "https://arxiv.org/abs/2502.11682": 1772780470625,
        "https://arxiv.org/abs/2504.09940": 1772780470625,
        "https://arxiv.org/abs/2505.10117": 1772780470625,
        "https://arxiv.org/abs/2505.21430": 1772780470625,
        "https://arxiv.org/abs/2505.23648": 1772780470625,
        "https://arxiv.org/abs/2506.03938": 1772780470625,
        "https://arxiv.org/abs/2506.09016": 1772780470625,
        "https://arxiv.org/abs/2506.14067": 1772780470625,
        "https://arxiv.org/abs/2506.23036": 1772780470625,
        "https://arxiv.org/abs/2507.10345": 1772780470625,
        "https://arxiv.org/abs/2507.14529": 1772780470625,
        "https://arxiv.org/abs/2508.02833": 1772780470625,
        "https://arxiv.org/abs/2508.04899": 1772780470625,
        "https://arxiv.org/abs/2508.20315": 1772780470625,
        "https://arxiv.org/abs/2509.10506": 1772780470625,
        "https://arxiv.org/abs/2509.11612": 1772780470625,
        "https://arxiv.org/abs/2509.11950": 1772780470625,
        "https://arxiv.org/abs/2509.25762": 1772780470625,
        "https://arxiv.org/abs/2510.07093": 1772780470625,
        "https://arxiv.org/abs/2510.08023": 1772780470625,
        "https://arxiv.org/abs/2510.17276": 1772780470625,
        "https://arxiv.org/abs/2511.11391": 1772780470625,
        "https://arxiv.org/abs/2511.11991": 1772780470625,
        "https://arxiv.org/abs/2511.21276": 1772780470625,
        "https://arxiv.org/abs/2512.07419": 1772780470625,
        "https://arxiv.org/abs/2512.13872": 1772780470625,
        "https://arxiv.org/abs/2601.10024": 1772780470625,
        "https://arxiv.org/abs/2601.18734": 1772780470625,
        "https://arxiv.org/abs/2602.01219": 1772780470625,
        "https://arxiv.org/abs/2602.01776": 1772780470625,
        "https://arxiv.org/abs/2602.09229": 1772780470625,
        "https://arxiv.org/abs/2602.11590": 1772780470625,
        "https://arxiv.org/abs/2602.12704": 1772780470625,
        "https://arxiv.org/abs/2602.13550": 1772780470625,
        "https://arxiv.org/abs/2602.15572": 1772780470625,
        "https://arxiv.org/abs/2602.20396": 1772780470625,
        "https://arxiv.org/abs/2603.01223": 1772780470625,
        "https://arxiv.org/abs/2603.03056": 1772780470625,
        "https://arxiv.org/abs/2603.03229": 1772780470625,
        "https://arxiv.org/abs/2603.03612": 1772780470625,
        "https://arxiv.org/abs/2402.03352": 1772780470625,
        "https://arxiv.org/abs/2502.07584": 1772780470625,
        "https://arxiv.org/abs/2502.07975": 1772780470625,
        "https://arxiv.org/abs/2504.10288": 1772780470625,
        "https://arxiv.org/abs/2505.03858": 1772780470625,
        "https://arxiv.org/abs/2505.04007": 1772780470625,
        "https://arxiv.org/abs/2505.22811": 1772780470625,
        "https://arxiv.org/abs/2506.08762": 1772780470625,
        "https://arxiv.org/abs/2506.18812": 1772780470625,
        "https://arxiv.org/abs/2507.18534": 1772780470625,
        "https://arxiv.org/abs/2507.21569": 1772780470625,
        "https://arxiv.org/abs/2508.11847": 1772780470625,
        "https://arxiv.org/abs/2508.18088": 1772780470625,
        "https://arxiv.org/abs/2509.05609": 1772780470625,
        "https://arxiv.org/abs/2509.15001": 1772780470625,
        "https://arxiv.org/abs/2509.21739": 1772780470625,
        "https://arxiv.org/abs/2509.24335": 1772780470625,
        "https://arxiv.org/abs/2509.24544": 1772780470625,
        "https://arxiv.org/abs/2510.02282": 1772780470625,
        "https://arxiv.org/abs/2510.15664": 1772780470625,
        "https://arxiv.org/abs/2510.18120": 1772780470625,
        "https://arxiv.org/abs/2510.20372": 1772780470625,
        "https://arxiv.org/abs/2510.23999": 1772780470625,
        "https://arxiv.org/abs/2511.01266": 1772780470625,
        "https://arxiv.org/abs/2511.18140": 1772780470625,
        "https://arxiv.org/abs/2512.03194": 1772780470625,
        "https://arxiv.org/abs/2512.05106": 1772780470625,
        "https://arxiv.org/abs/2512.06945": 1772780470625,
        "https://arxiv.org/abs/2512.21039": 1772780470625,
        "https://arxiv.org/abs/2512.21323": 1772780470625,
        "https://arxiv.org/abs/2601.04478": 1772780470625,
        "https://arxiv.org/abs/2601.18157": 1772780470625,
        "https://arxiv.org/abs/2601.19400": 1772780470625,
        "https://arxiv.org/abs/2601.20888": 1772780470625,
        "https://arxiv.org/abs/2602.16537": 1772780470625,
        "https://arxiv.org/abs/2602.18047": 1772780470625,
        "https://arxiv.org/abs/2602.18452": 1772780470625,
        "https://arxiv.org/abs/2602.23516": 1772780470625,
        "https://arxiv.org/abs/2602.24007": 1772780470625,
        "https://arxiv.org/abs/2603.00395": 1772780470625,
        "https://arxiv.org/abs/2603.01270": 1772780470625,
        "https://arxiv.org/abs/2603.02460": 1772780470625,
        "https://arxiv.org/abs/2603.03589": 1772780470625,
        "https://arxiv.org/abs/2603.03959": 1772780470625,
        "https://arxiv.org/abs/2603.04408": 1772780470625,
        "https://arxiv.org/abs/2603.04412": 1772780470625,
        "https://arxiv.org/abs/2603.04414": 1772780470625,
        "https://arxiv.org/abs/2603.04415": 1772780470625,
        "https://arxiv.org/abs/2603.04416": 1772780470625,
        "https://arxiv.org/abs/2603.04417": 1772780470625,
        "https://arxiv.org/abs/2603.04592": 1772780470625,
        "https://arxiv.org/abs/2603.04647": 1772780470625,
        "https://arxiv.org/abs/2603.04657": 1772780470625,
        "https://arxiv.org/abs/2603.04691": 1772780470625,
        "https://arxiv.org/abs/2603.04738": 1772780470625,
        "https://arxiv.org/abs/2603.04814": 1772780470625,
        "https://arxiv.org/abs/2603.04820": 1772780470625,
        "https://arxiv.org/abs/2603.04828": 1772780470625,
        "https://arxiv.org/abs/2603.04854": 1772780470625,
        "https://arxiv.org/abs/2603.04855": 1772780470625,
        "https://arxiv.org/abs/2603.04857": 1772780470625,
        "https://arxiv.org/abs/2603.04897": 1772780470625,
        "https://arxiv.org/abs/2603.04921": 1772780470625,
        "https://arxiv.org/abs/2603.04933": 1772780470625,
        "https://arxiv.org/abs/2603.04945": 1772780470625,
        "https://arxiv.org/abs/2603.04946": 1772780470625,
        "https://arxiv.org/abs/2603.04974": 1772780470625,
        "https://arxiv.org/abs/2603.04992": 1772780470625,
        "https://arxiv.org/abs/2603.04996": 1772780470625,
        "https://arxiv.org/abs/2603.05046": 1772780470625,
        "https://arxiv.org/abs/2603.05136": 1772780470625,
        "https://arxiv.org/abs/2603.05168": 1772780470625,
        "https://arxiv.org/abs/2603.05193": 1772780470625,
        "https://arxiv.org/abs/2603.05197": 1772780470625,
        "https://arxiv.org/abs/2603.05198": 1772780470625,
        "https://arxiv.org/abs/2603.05262": 1772780470625,
        "https://arxiv.org/abs/2603.05272": 1772780470625,
        "https://arxiv.org/abs/2603.05345": 1772780470625,
        "https://arxiv.org/abs/2603.05354": 1772780470625,
        "https://arxiv.org/abs/2603.05357": 1772780470625,
        "https://arxiv.org/abs/2603.05369": 1772780470625,
        "https://arxiv.org/abs/2603.05400": 1772780470625,
        "https://arxiv.org/abs/2603.05451": 1772780470625,
        "https://arxiv.org/abs/2603.05459": 1772780470625,
        "https://arxiv.org/abs/2603.05462": 1772780470625,
        "https://arxiv.org/abs/2603.04402": 1772780470625,
        "https://arxiv.org/abs/2603.04404": 1772780470625,
        "https://arxiv.org/abs/2603.04445": 1772780470625,
        "https://arxiv.org/abs/2603.04775": 1772780470625,
        "https://arxiv.org/abs/2603.04957": 1772780470625,
        "https://arxiv.org/abs/2603.05207": 1772780470625,
        "https://arxiv.org/abs/2603.05275": 1772780470625,
        "https://arxiv.org/abs/2404.09982": 1772780470625,
        "https://arxiv.org/abs/2507.01853": 1772780470625,
        "https://arxiv.org/abs/2509.10035": 1772780470625,
        "https://arxiv.org/abs/2509.14882": 1772780470625,
        "https://arxiv.org/abs/2510.10539": 1772780470625,
        "https://arxiv.org/abs/2510.22758": 1772780470625,
        "https://arxiv.org/abs/2510.24541": 1772780470625,
        "https://arxiv.org/abs/2512.06690": 1772780470625,
        "https://arxiv.org/abs/2512.18832": 1772780470625,
        "https://arxiv.org/abs/2601.11329": 1772780470625,
        "https://arxiv.org/abs/2601.11432": 1772780470625,
        "https://arxiv.org/abs/2603.04384": 1772780470625,
        "https://arxiv.org/abs/2405.18991": 1772780470625,
        "https://arxiv.org/abs/2407.04573": 1772780470625,
        "https://www.databricks.com/blog/turning-insight-impact-databricks-and-global-orphan-go-project": 1772780470625,
        "https://www.databricks.com/blog/meet-karl-faster-agent-enterprise-knowledge-powered-custom-rl": 1772780470625,
        "https://www.snowflake.com/content/snowflake-site/global/en/blog/openai-gpt-5-4-snowflake-cortex-ai": 1772780470625,
        "https://www.snowflake.com/content/snowflake-site/global/en/blog/people-data-ai-governance": 1772780470625,
        "https://www.snowflake.com/content/snowflake-site/global/en/blog/ai-agents-healthcare-efficiency": 1772780470625,
        "https://www.confluent.io/blog/confluent-cloud-post-quantum-cryptography-roadmap": 1772780470625,
        "https://www.montecarlodata.com/blog-building-data-ai-observability-program": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/multi-party-approval-team-baselining": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/dbsp-opensearch-service-neptune-analytics": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/elastic-beanstalk-ai-analysis": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/network-security-director-findings": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/amazon-ec2-i8ge-expansion-ireland": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/amazon-opensearch-service-bg": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/amazon-connect-health-agentic-ai-healthcare": 1772780470625,
        "https://aws.amazon.com/about-aws/whats-new/2026/03/aws-healthlake-data-transformation-agent": 1772780470625,
        "https://docs.cloud.google.com/release-notes#march_05_2026": 1772780470625,
        "https://blog.cloudflare.com/client-dynamic-path-mtu-discovery": 1772780470625,
        "https://blog.ovhcloud.com/pricing-evolution-of-public-cloud-bare-metal-and-vps-at-ovhcloud": 1772780470625,
        "https://blog.ovhcloud.com/evolutions-tarifaires-de-public-cloud-bare-metal-et-vps-chez-ovhcloud": 1772780470625,
        "https://www.digitalocean.com/blog/net-buildpack-support-app-platform": 1772780470625,
        "https://github.blog/ai-and-ml/github-copilot/60-million-copilot-code-reviews-and-counting": 1772780470625,
        "https://github.blog/developer-skills/career-growth/scaling-ai-opportunity-across-the-globe-learnings-from-github-and-andela": 1772780470625,
        "https://circleci.com/blog/regression-testing-and-how-to-automate-it-with-ci": 1772780470625,
        "https://thehackernews.com/2026/03/cisco-confirms-active-exploitation-of.html": 1772780470625,
        "https://thehackernews.com/2026/03/preparing-for-quantum-era-post-quantum.html": 1772780470625,
        "https://thehackernews.com/2026/03/threatsday-bulletin-redis-rce-ddr5-bot.html": 1772780470625,
        "https://thehackernews.com/2026/03/dust-specter-targets-iraqi-officials.html": 1772780470625,
        "https://thehackernews.com/2026/03/where-multi-factor-authentication-stops.html": 1772780470625,
        "https://thehackernews.com/2026/03/apt28-linked-campaign-deploys-badpaw.html": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/chinese-state-hackers-target-telcos-with-new-malware-toolkit": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/bing-ai-promoted-fake-openclaw-github-repo-pushing-info-stealing-malware": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/wikipedia-hit-by-self-propagating-javascript-worm-that-vandalized-pages": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/wordpress-membership-plugin-bug-exploited-to-create-admin-accounts": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/fbi-arrests-suspect-linked-to-46m-crypto-theft-from-us-marshals": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/google-says-90-zero-days-were-exploited-in-attacks-last-year": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/2026-browser-data-reveals-major-enterprise-security-blind-spots": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/police-dismantles-online-gambling-ring-exploiting-ukrainian-women": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/cisco-flags-more-sd-wan-flaws-as-actively-exploited-in-attacks": 1772780470625,
        "https://www.bleepingcomputer.com/news/security/phobos-ransomware-admin-pleads-guilty-to-wire-fraud-conspiracy": 1772780470625,
        "https://www.darkreading.com/cyberattacks-data-breaches/nation-state-actor-ai-malware-assembly-line": 1772780470625,
        "https://www.darkreading.com/threat-intelligence/tycoon-2fa-europol-vendors-bust-phishing-platform": 1772780470625,
        "https://www.darkreading.com/vulnerabilities-threats/cisco-48-firewall-vulnerabilities-2-critical": 1772780470625,
        "https://www.darkreading.com/cybersecurity-operations/software-development-practices-help-enterprises-tackle-real-life-risks": 1772780470625,
        "https://www.darkreading.com/threat-intelligence/latam-2x-more-cyberattacks-us": 1772780470625,
        "https://www.securityweek.com/google-half-of-2025s-90-exploited-zero-days-aimed-at-enterprises": 1772780470625,
        "https://www.securityweek.com/russian-ransomware-operator-pleads-guilty-in-us": 1772780470625,
        "https://www.securityweek.com/cisco-warns-of-more-catalyst-sd-wan-flaws-exploited-in-the-wild": 1772780470625,
        "https://www.securityweek.com/reclaim-security-raises-20-million-to-accelerate-remediation": 1772780470625,
        "https://www.securityweek.com/leakbase-cybercrime-forum-shut-down-suspects-arrested": 1772780470625,
        "https://www.securityweek.com/cisco-patches-critical-vulnerabilities-in-enterprise-networking-products": 1772780470625,
        "https://www.anthropic.com/news/where-stand-department-war": 1772780470625,
        "https://www.404media.co/proton-mail-helped-fbi-unmask-anonymous-stop-cop-city-protestor": 1772780470625,
        "https://www.wsj.com/politics/national-security/pentagon-formally-labels-anthropic-supply-chain-risk-escalating-conflict-ebdf0523": 1772780470625,
        "https://paulgraham.com/brandage.html": 1772780470625,
        "https://www.eff.org/deeplinks/2026/03/targeted-advertising-gives-your-location-government-just-ask-cbp": 1772780470625,
        "https://grith.ai/blog/clinejection-when-your-ai-tool-installs-another": 1772780470625,
        "https://www.wikimediastatus.net": 1772780470625,
        "https://www.wsj.com/politics/policy/judge-orders-government-to-begin-refunding-more-than-130-billion-in-tariffs-fdc1e62c": 1772780470625,
        "https://ogirardot.writizzy.com/p/good-software-knows-when-to-stop": 1772780470625,
        "https://github.com/chardet/chardet/issues/327": 1772780470625,
        "https://blog.ivan.digital/nvidia-personaplex-7b-on-apple-silicon-full-duplex-speech-to-speech-in-native-swift-with-mlx-0aa5276f2e23": 1772780470625,
        "https://arstechnica.com/gadgets/2026/03/workers-report-watching-ray-ban-meta-shot-footage-of-people-using-the-bathroom": 1772780470625,
        "https://arstechnica.com/gaming/2026/03/ms-exec-microsofts-next-console-will-play-xbox-and-pc-games": 1772780470625,
        "https://arstechnica.com/health/2026/03/rfk-jr-can-promote-getting-measles-with-impunity-doj-lawyer-tells-judge": 1772780470625,
        "https://arstechnica.com/gadgets/2026/03/amazon-appears-to-be-down-with-over-20000-reported-problems": 1772780470625,
        "https://arstechnica.com/ai/2026/03/openai-introduces-gpt-5-4-with-more-knowledge-work-capability": 1772780470625,
        "https://arstechnica.com/culture/2026/03/the-boys-s5-trailer-tees-up-a-bloody-final-season": 1772780470625,
        "https://arstechnica.com/tech-policy/2026/03/leading-ai-datacenter-companies-sign-pledge-to-buy-their-own-power": 1772780470625,
        "https://arstechnica.com/cars/2026/03/nerve-damage-energy-management-and-apple-tv-f1-in-2026-starts-today": 1772780470625,
        "https://arstechnica.com/culture/2026/03/lanterns-teaser-swaps-superhero-hijinks-for-gritty-realism": 1772780470625,
        "https://arstechnica.com/space/2026/03/congress-steps-up-pressure-on-nasa-to-support-private-space-stations": 1772780470625,
        "https://arstechnica.com/tech-policy/2026/03/musk-testifies-tweet-that-led-to-44-billion-lawsuit-may-not-have-been-my-wisest": 1772780470625,
        "https://arstechnica.com/gadgets/2026/03/macos-tahoe-26-3-1-update-will-upgrade-your-m5s-cpu-to-new-super-cores": 1772780470625,
        "https://www.theverge.com/tech/890215/amazon-is-down-login-prices": 1772780470625,
        "https://www.theverge.com/21280354/best-ipad-deals-apple": 1772780470625,
        "https://www.theverge.com/gadgets/890047/what-if-your-real-computer-was-a-super-sized-lego-computer-brick": 1772780470625,
        "https://www.theverge.com/policy/890367/house-lawmakers-online-safety-bills-kids-act": 1772780470625,
        "https://www.theverge.com/ai-artificial-intelligence/890347/pentagon-anthropic-supply-chain-risk": 1772780470625,
        "https://www.theverge.com/streaming/890312/roku-roklue-trivia-game": 1772780470625,
        "https://www.theverge.com/games/890131/pokopia-pokemon-high-tech-future-3d-printer": 1772780470625,
        "https://www.theverge.com/transportation/890202/united-airlines-headphones-policy-contract-of-carriage": 1772780470625,
        "https://www.theverge.com/games/890194/microsoft-teases-its-next-xbox-says-project-helix-will-play-pc-games-too": 1772780470625,
        "https://www.theverge.com/gadgets/889975/birdbuddy-smart-hummingbird-feeder-pro-solar-deal-sale": 1772780470625,
        "https://techcrunch.com/2026/03/05/anthropic-to-challenge-dods-supply-chain-label-in-court": 1772780470625,
        "https://techcrunch.com/2026/03/05/diligencesquared-uses-ai-voice-agents-to-make-ma-research-affordable": 1772780470625,
        "https://techcrunch.com/2026/03/05/cluely-ceo-roy-lee-admits-to-publicly-lying-about-revenue-numbers-last-year": 1772780470625,
        "https://techcrunch.com/2026/03/05/aws-amazon-connect-health-ai-agent-platform-health-care-providers": 1772780470625,
        "https://techcrunch.com/2026/03/05/fbi-investigating-hack-on-its-wiretap-and-surveillance-systems-report": 1772780470625,
        "https://techcrunch.com/2026/03/05/us-reportedly-considering-sweeping-new-chip-export-controls": 1772780470625,
        "https://techcrunch.com/2026/03/05/amazon-is-rolling-out-a-redesigned-fire-tv-app": 1772780470625,
        "https://techcrunch.com/2026/03/05/byd-rolls-out-ev-batteries-with-5-minute-flash-charging-but-theres-a-catch": 1772780470625,
        "https://techcrunch.com/2026/03/05/italian-prosecutors-confirm-journalist-was-hacked-with-paragon-spyware": 1772780470625,
        "https://techcrunch.com/2026/03/05/its-official-the-pentagon-has-labeled-anthropic-a-supply-chain-risk": 1772780470625,
        "https://techcrunch.com/2026/03/05/x-revamps-creator-subscriptions-with-new-features-like-exclusive-threads-and-shareable-cards": 1772780470625,
        "https://techcrunch.com/2026/03/05/hardware-testing-startup-nominal-hits-1b-valuation-raises-155m-in-10-months": 1772780470625,
        "https://techcrunch.com/2026/03/05/roblox-launches-real-time-ai-chat-rephrasing-to-filter-out-banned-language": 1772780470625,
        "https://techcrunch.com/2026/03/05/impersonators-scammers-targeting-companies-with-fake-techcrunch-outreach": 1772780470625,
        "https://techcrunch.com/2026/03/05/exclusive-luma-launches-creative-ai-agents-powered-by-its-new-unified-intelligence-models": 1772780470625,
        "https://techcrunch.com/2026/03/05/google-says-half-of-all-zero-days-it-tracked-in-2025-targeted-buggy-enterprise-tech": 1772780470625,
        "https://techcrunch.com/2026/03/05/openai-launches-gpt-5-4-with-pro-and-thinking-versions": 1772780470625,
        "https://techcrunch.com/2026/03/05/cursor-is-rolling-out-a-new-system-for-agentic-coding": 1772780470625,
        "https://techcrunch.com/2026/03/05/meta-sued-over-ai-smartglasses-privacy-concerns-after-workers-reviewed-nudity-sex-and-other-footage": 1772780470625,
        "https://techcrunch.com/2026/03/05/anthropic-ceo-dario-amodei-could-still-be-trying-to-make-a-deal-with-pentagon": 1772780470625,
        "https://www.wired.com/story/mattress-firm-coupon": 1772780470625,
        "https://www.wired.com/story/exclusive-kitchenaid-promo-code": 1772780470625,
        "https://www.wired.com/story/peacock-promo-code": 1772780470625,
        "https://www.wired.com/story/turbotax-coupon": 1772780470625,
        "https://www.wired.com/story/norton-coupon-code": 1772780470625,
        "https://www.wired.com/story/every-country-directly-impacted-by-the-war-on-iran": 1772780470625,
        "https://www.wired.com/story/uncanny-valley-podcast-iran-war-artificial-intelligence-prediction-markets-paramount-warner-bros": 1772780470625,
        "https://www.wired.com/story/openai-defense-department-ban-military-use-microsoft": 1772780470625,
        "https://www.wired.com/story/made-in-china-bytedances-ai-ambitions-are-being-hampered-by-compute-restraints": 1772780470625,
        "https://www.wired.com/story/its-time-to-put-out-your-hummingbird-feeders-2026": 1772780470625,
        "https://www.wired.com/story/the-best-shows-to-stream-right-now": 1772780470625,
        "https://www.wired.com/story/the-controversies-finally-caught-up-to-kristi-noem": 1772780470625,
        "https://www.wired.com/story/why-fandom-discourse-feels-extra-cringe-right-now": 1772780470625,
        "https://www.wired.com/story/roku-pro-series-deal-326": 1772780470625,
        "https://www.wired.com/story/bytedance-apps-are-no-longer-available-in-us-app-stores": 1772780470625,
        "https://www.wired.com/story/the-bargain-basement-macbook-neo-exposes-the-insane-price-of-another-key-apple-product": 1772780470625,
        "https://www.wired.com/gallery/best-gravel-running-shoes": 1772780470625,
        "https://www.wired.com/gallery/best-workout-headphones": 1772780470625,
        "https://www.wired.com/review/kef-muo-2026": 1772780470625,
        "https://www.wired.com/review/suunto-vertical-2": 1772780470625,
        "https://www.wired.com/story/nothing-phone-4a-and-phone-4a-pro-and-headphone-a": 1772780470625,
        "https://www.wired.com/story/survive-daylight-savings-by-starting-early": 1772780470625,
        "https://www.wired.com/story/best-sheets": 1772780470625,
        "https://www.wired.com/story/adjustable-mattress-vs-adjustable-frame-vs-smart-bed": 1772780470625,
        "https://www.wired.com/story/world-monitor-elie-habib": 1772780470625,
        "https://www.technologyreview.com/2026/03/05/1133968/the-download-ai-agent-hit-piece-preventing-lightning": 1772780470625,
        "https://www.technologyreview.com/2026/03/05/1133960/wildfire-prevention-limits": 1772780470625,
        "https://www.technologyreview.com/2026/03/05/1133962/online-harassment-is-entering-its-ai-era": 1772780470625,
        "https://www.producthunt.com/products/gitsync-lite-for-macos": 1772780470625,
        "https://www.blogdumoderateur.com/tendances-digital-guide-2026": 1772780470625,
        "https://www.blogdumoderateur.com/notebooklm-introduit-cinematic-video-overviews": 1772780470625,
        "https://www.blogdumoderateur.com/wordpress-plugins-officiels-claude-gemini-chatgpt": 1772780470625,
        "https://www.blogdumoderateur.com/acquisition-marketing-double-shift-ia-conseils-semji-ai-scope-2026": 1772780470625,
        "https://next.ink/brief_article/openai-sort-gpt-5-4-avec-deux-versions-tournees-vers-les-taches-professionnelles": 1772780470625,
        "https://next.ink/227655/des-espions-russes-et-cybercriminels-chinois-ont-recupere-un-logiciel-espion-lie-a-la-nsa": 1772780470625,
        "https://next.ink/227627/us-la-derniere-declaration-pro-humaine-sur-lia-represente-tous-les-bords-politiques": 1772780470625,
        "https://next.ink/227602/play-store-refonte-et-baisse-des-frais-google-et-epic-font-la-paix-et-parlent-metavers": 1772780470625,
        "https://next.ink/227555/gemini-aurait-pousse-un-homme-au-suicide-apres-avoir-cree-une-relation-toxique": 1772780470625,
        "https://next.ink/brief_article/le-conseil-detat-deboute-criteo-et-confirme-lamende-de-40-millions-deuros-de-la-cnil": 1772780470625,
        "https://next.ink/227564/les-autorites-saisissent-leakbase-forum-historique-de-la-cybercriminalite": 1772780470625,
        "https://next.ink/brief_article/surveillance-et-non-moderation-le-baby-sitting-aussi-implique-des-risques-numeriques": 1772780470625,
        "https://next.ink/226997/chez-prisma-media-jusqua-40-des-articles-et-50-des-journalistes-sont-generes-par-ia": 1772780470625,
        "https://next.ink/brief_article/qualcomm-du-wi-fi-8-a-116-gb-s-et-un-modem-5g-a-148-gb-s": 1772780470625,
        "https://next.ink/brief_article/openai-publie-la-version-windows-de-codex-son-agent-ia-dedie-au-code": 1772780470625,
        "https://next.ink/227491/diffusion-non-consentie-dimages-sexuelles-point-de-contact-veut-agir-partout-plus-vite": 1772780470625,
        "https://www.lemonde.fr/pixels/article/2026/03/05/clair-obscur-expedition-33-le-triomphe-que-tout-le-monde-attendait-a-la-ceremonie-des-pegases-2025-du-jeu-video_6669686_4408996.html": 1772780470625,
        "https://www.lemonde.fr/economie/article/2026/03/05/dario-amodei-l-ambivalent-patron-d-anthropic-qui-se-dresse-contre-donald-trump_6669661_3234.html": 1772780470625,
        "https://www.numerama.com/tech/2194883-whatsapp-meta-reintegre-chatgpt-et-copilot-face-a-la-pression-de-lue.html": 1772780470625,
        "https://www.numerama.com/tech/2195153-immense-surprise-microsoft-officialise-une-nouvelle-xbox-via-un-simple-tweet.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2194743-on-a-teste-le-demoniste-la-nouvelle-classe-diablo-4.html": 1772780470625,
        "https://www.numerama.com/tech/2195141-deux-jours-apres-gpt-5-3-openai-lance-gpt-5-4.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2194769-pluribus-saison-2-vince-gilligan-donne-quelques-indices-sur-la-suite-de-la-serie.html": 1772780470625,
        "https://www.numerama.com/tech/2194807-les-etudiants-et-leurs-proches-peuvent-acheter-le-macbook-neo-pour-599-euros-grace-a-cette-astuce.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2139565-quand-sort-the-testaments-la-suite-de-the-handmaids-tale-sur-disney.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2193475-wicked-sur-netflix-vous-devez-absolument-vous-laisser-envouter-par-cette-comedie-musicale-culte.html": 1772780470625,
        "https://www.numerama.com/vroom/2194745-10-a-97-en-9-minutes-la-recharge-ultra-rapide-de-byd-va-vous-faire-oublier-le-plein-dessence.html": 1772780470625,
        "https://www.numerama.com/tech/2194755-ou-precommander-le-macbook-neo-le-nouveau-laptop-pas-cher-dapple.html": 1772780470625,
        "https://www.numerama.com/vroom/2194803-a-160-000-km-la-batterie-des-voitures-electriques-est-en-bien-meilleur-etat-que-vous-ne-limaginez.html": 1772780470625,
        "https://www.numerama.com/tech/2194747-le-sujet-est-mort-dassault-ne-donne-pas-cher-de-la-peau-du-scaf-si-airbus-reste-intransigeant.html": 1772780470625,
        "https://www.numerama.com/tech/2194571-macbook-neo-versus-macbook-air-le-match-des-ordinateurs-abordables-dapple.html": 1772780470625,
        "https://www.numerama.com/tech/2194621-apres-5-ans-de-guerre-fortnite-revient-enfin-sur-le-google-play-store.html": 1772780470625,
        "https://www.numerama.com/tech/2194431-tiktok-refuse-de-securiser-au-maximum-vos-conversations-privees-pour-votre-bien.html": 1772780470625,
        "https://www.numerama.com/pop-culture/1970815-quand-sort-la-saison-2-des-quatre-saisons-sur-netflix.html": 1772780470625,
        "https://www.numerama.com/vroom/2194513-tesla-renault-stellantis-qui-fabrique-la-voiture-electrique-la-plus-propre-en-2026.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2194631-le-studio-derriere-mindseye-licencie-encore-et-evoque-un-sabotage-industriel.html": 1772780470625,
        "https://www.numerama.com/sciences/2194523-la-nasa-a-perdu-une-mission-lunaire-et-cest-a-cause-dun-petit-bug-tout-bete.html": 1772780470625,
        "https://www.numerama.com/vroom/2194529-le-tesla-cybercab-bientot-produit-a-berlin-ces-indices-qui-font-croire-a-son-arrivee-prochaine.html": 1772780470625,
        "https://www.numerama.com/vroom/2194537-il-y-a-500-e-de-remise-sur-ce-vtc-electrique-dintersport-aux-100-km-dautonomie.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2024809-the-bear-saison-5-tout-savoir-sur-les-ultimes-episodes-de-la-serie-culinaire.html": 1772780470625,
        "https://www.numerama.com/tech/2194517-drones-shahed-zelensky-propose-un-echange-tactique-aux-etats-unis.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2194427-mauvaise-nouvelle-pour-les-fans-de-the-bear.html": 1772780470625,
        "https://www.numerama.com/tech/2194425-guerre-froide-de-lia-pourquoi-nvidia-lache-openai-et-anthropic-en-plein-bras-de-fer-avec-le-pentagone.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2194437-playstation-fait-machine-arriere-pourquoi-les-futurs-jeux-solo-ne-sortiront-plus-sur-pc.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2194419-le-flou-autour-de-crimson-desert-amuse-meme-ses-createurs.html": 1772780470625,
        "https://www.numerama.com/tech/2186359-ouvrir-un-compte-chez-fortuneo-peut-vous-rapporter-jusqua-250-euros-voici-la-marche-a-suivre.html": 1772780470625,
        "https://www.numerama.com/vroom/2194263-cupra-fait-evoluer-la-born-quoi-de-neuf-pour-la-cousine-espagnole-de-la-volkswagen-id-3.html": 1772780470625,
        "https://www.numerama.com/pop-culture/2194417-apres-150-fuites-le-prochain-jeu-assassins-creed-est-enfin-officiel.html": 1772780470625,
        "https://www.frenchweb.fr/michel-combes-le-financier-discret-derriere-lintroduction-en-bourse-de-pasqal/460634": 1772780470625,
        "https://www.frenchweb.fr/gpt-5-4-vrai-saut-produit-ou-benchmark-packaging/460630": 1772780470625,
        "https://www.frenchweb.fr/une-nouvelle-generation-de-startups-europeennes-construit-linfrastructure-de-confiance/460627": 1772780470625,
        "https://www.frenchweb.fr/nouveau-plan-quinquennal-la-chine-fait-de-lintelligence-artificielle-le-coeur-de-son-economie/460624": 1772780470625,
        "https://www.frenchweb.fr/le-qr-code-dynamique-linfrastructure-invisible-de-la-digitalisation-des-entreprises/460621": 1772780470625,
        "https://www.maddyness.com/2026/03/06/voici-le-profil-des-femmes-qui-entreprennent-en-france": 1772780470625,
        "https://github.com/aquasecurity/trivy": 1772780470625,
        "https://github.com/msitarzewski/agency-agents": 1772780470625,
        "https://github.com/microsoft/mcp-for-beginners": 1772780470625,
        "https://github.com/keygraphhq/shannon": 1772780470625,
        "https://github.com/fujiwarachoki/moneyprinterv2": 1772780470625,
        "https://github.com/moeru-ai/airi": 1772780470625,
        "https://github.com/agentscope-ai/reme": 1772780470625,
        "https://github.com/codebuffai/codebuff": 1772780470625,
        "https://github.com/microsoft/hve-core": 1772780470625,
        "https://github.com/inclusionai/areal": 1772780470625,
        "https://github.com/thecraighewitt/seomachine": 1772780470625,
        "https://www.youtube.com/watch": 1772780470625
      },
      "weekArticles": [
        {
          "title": "Why Reinforcement Fine-Tuning Enables MLLMs Preserve Prior Knowledge Better: A Data Perspective",
          "url": "https://arxiv.org/abs/2506.23508",
          "category": "ia-ml",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Une étude montre que le fine-tuning par renforcement améliore la rétention des connaissances antérieures dans les modèles de langage multimodaux.",
          "date": "2026-03-06"
        },
        {
          "title": "SarcasmMiner: A Dual-Track Post-Training Framework for Robust Audio-Visual Sarcasm Reasoning",
          "url": "https://arxiv.org/abs/2603.05275",
          "category": "ia-ml",
          "score": 6,
          "priority": "VEILLE",
          "summary": "SarcasmMiner est un cadre de post-entraînement pour améliorer la détection du sarcasme dans les contenus audio-visuels.",
          "date": "2026-03-06"
        },
        {
          "title": "inclusionAI/AReaL",
          "url": "https://github.com/inclusionAI/AReaL",
          "category": "ia-ml",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "AReaL est un système open-source d'apprentissage par renforcement asynchrone pour les modèles de langage.",
          "date": "2026-03-06"
        },
        {
          "title": "EasyAnimate: High-Performance Video Generation Framework with Hybrid Windows Attention and Reward Backpropagation",
          "url": "https://arxiv.org/abs/2405.18991",
          "category": "ia-ml",
          "score": 6,
          "priority": "VEILLE",
          "summary": "EasyAnimate est un cadre de génération vidéo performant utilisant des transformateurs de diffusion.",
          "date": "2026-03-06"
        },
        {
          "title": "CTRL-RAG: Contrastive Likelihood Reward Based Reinforcement Learning for Context-Faithful RAG Models",
          "url": "https://arxiv.org/abs/2603.04406",
          "category": "ia-ml",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "Une nouvelle méthode de renforcement pour améliorer la fidélité contextuelle des modèles de génération augmentée par récupération.",
          "date": "2026-03-06"
        },
        {
          "title": "Leveraging LLM Parametric Knowledge for Fact Checking without Retrieval",
          "url": "https://arxiv.org/abs/2603.05471",
          "category": "ia-ml",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Une approche pour vérifier les faits sans récupération en utilisant les connaissances paramétriques des grands modèles de langage.",
          "date": "2026-03-06"
        },
        {
          "title": "Safety Mirage: How Spurious Correlations Undermine VLM Safety Fine-Tuning and Can Be Mitigated by Machine Unlearning",
          "url": "https://arxiv.org/abs/2503.11832",
          "category": "ia-ml",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "Les corrélations spuriées peuvent compromettre la sécurité des modèles de langage visuel, mais peuvent être atténuées par l'apprentissage inverse.",
          "date": "2026-03-06"
        },
        {
          "title": "Engineering Regression Without Real-Data Training: Domain Adaptation for Tabular Foundation Models Using Multi-Dataset Embeddings",
          "url": "https://arxiv.org/abs/2603.04692",
          "category": "ia-ml",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Une méthode d'adaptation de domaine pour les modèles de base tabulaires sans entraînement sur des données réelles.",
          "date": "2026-03-06"
        },
        {
          "title": "From Unfamiliar to Familiar: Detecting Pre-training Data via Gradient Deviations in Large Language Models",
          "url": "https://arxiv.org/abs/2603.04828",
          "category": "ia-ml",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Une technique pour détecter les données de pré-entraînement dans les grands modèles de langage via les déviations de gradient.",
          "date": "2026-03-06"
        },
        {
          "title": "Cisco Warns of More Catalyst SD-WAN Flaws Exploited in the Wild",
          "url": "https://www.securityweek.com/cisco-warns-of-more-catalyst-sd-wan-flaws-exploited-in-the-wild/",
          "category": "securite",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Cisco a identifié de nouvelles failles dans ses équipements SD-WAN qui sont exploitées activement.",
          "date": "2026-03-06"
        },
        {
          "title": "Cisco Confirms Active Exploitation of Two Catalyst SD-WAN Manager Vulnerabilities",
          "url": "https://thehackernews.com/2026/03/cisco-confirms-active-exploitation-of.html",
          "category": "securite",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Deux vulnérabilités dans le gestionnaire SD-WAN de Cisco sont actuellement exploitées par des attaquants.",
          "date": "2026-03-06"
        },
        {
          "title": "APT28-Linked Campaign Deploys BadPaw Loader and MeowMeow Backdoor in Ukraine",
          "url": "https://thehackernews.com/2026/03/apt28-linked-campaign-deploys-badpaw.html",
          "category": "securite",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Une campagne de cyberattaque russe cible l'Ukraine avec de nouveaux malwares BadPaw et MeowMeow.",
          "date": "2026-03-06"
        },
        {
          "title": "Google: Half of 2025’s 90 Exploited Zero-Days Aimed at Enterprises",
          "url": "https://www.securityweek.com/google-half-of-2025s-90-exploited-zero-days-aimed-at-enterprises/",
          "category": "securite",
          "score": 5,
          "priority": "VEILLE",
          "summary": "Moitié des failles zero-day exploitées en 2025 visent les entreprises, selon Google.",
          "date": "2026-03-06"
        },
        {
          "title": "Amazon EC2 I8ge instances now generally available in Europe (Ireland) AWS region.",
          "url": "https://aws.amazon.com/about-aws/whats-new/2026/03/amazon-ec2-I8ge-expansion-ireland/",
          "category": "cloud",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Les instances EC2 I8ge d'Amazon sont maintenant disponibles dans la région AWS d'Irlande.",
          "date": "2026-03-06"
        },
        {
          "title": "When Priors Backfire: On the Vulnerability of Unlearnable Examples to Pretraining",
          "url": "https://arxiv.org/abs/2603.04731",
          "category": "securite",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Une étude révèle une vulnérabilité fondamentale des exemples non apprenables utilisés pour protéger les données contre les modèles d'apprentissage.",
          "date": "2026-03-06"
        },
        {
          "title": "Google says 90 zero-days were exploited in attacks last year",
          "url": "https://www.bleepingcomputer.com/news/security/google-says-90-zero-days-were-exploited-in-attacks-last-year/",
          "category": "securite",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "Google a identifié 90 vulnérabilités zero-day exploitées en 2025, dont presque la moitié dans des logiciels et appareils d'entreprise.",
          "date": "2026-03-06"
        },
        {
          "title": "2026 Browser Data Reveals Major Enterprise Security Blind Spots",
          "url": "https://www.bleepingcomputer.com/news/security/2026-browser-data-reveals-major-enterprise-security-blind-spots/",
          "category": "securite",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Les données de 2026 montrent que les entreprises négligent la sécurité des navigateurs, malgré leur rôle crucial dans le travail moderne.",
          "date": "2026-03-06"
        },
        {
          "title": "Tycoon 2FA Goes Boom as Europol, Vendors Bust Phishing Platform",
          "url": "https://www.darkreading.com/threat-intelligence/tycoon-2fa-europol-vendors-bust-phishing-platform",
          "category": "securite",
          "score": 5,
          "priority": "VEILLE",
          "summary": "Europol et des fournisseurs ont démantelé une plateforme de phishing-as-a-service capable de contourner l'authentification multifactorielle.",
          "date": "2026-03-06"
        },
        {
          "title": "Cisco Patches Critical Vulnerabilities in Enterprise Networking Products",
          "url": "https://www.securityweek.com/cisco-patches-critical-vulnerabilities-in-enterprise-networking-products/",
          "category": "securite",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Cisco a corrigé 48 vulnérabilités critiques dans ses produits de réseau d'entreprise.",
          "date": "2026-03-06"
        },
        {
          "title": "Google says half of all zero-days it tracked in 2025 targeted buggy enterprise tech",
          "url": "https://techcrunch.com/2026/03/05/google-says-half-of-all-zero-days-it-tracked-in-2025-targeted-buggy-enterprise-tech/",
          "category": "securite",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "En 2025, la moitié des vulnérabilités zero-day ont ciblé des logiciels d'entreprise, notamment des équipements de sécurité et de réseau.",
          "date": "2026-03-06"
        },
        {
          "title": "aquasecurity/trivy",
          "url": "https://github.com/aquasecurity/trivy",
          "category": "securite",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Trivy est un scanner de sécurité polyvalent pour détecter des vulnérabilités et des configurations incorrectes dans divers environnements.",
          "date": "2026-03-06"
        },
        {
          "title": "Ending the 'silent drop': how Dynamic Path MTU Discovery makes the Cloudflare One Client more resilient",
          "url": "https://blog.cloudflare.com/client-dynamic-path-mtu-discovery/",
          "category": "cloud",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Le client Cloudflare One améliore sa résilience grâce à une découverte dynamique de la MTU pour ajuster les tailles de paquets.",
          "date": "2026-03-06"
        },
        {
          "title": "Native .NET Buildpack Support is Now Available on App Platform",
          "url": "https://www.digitalocean.com/blog/net-buildpack-support-app-platform",
          "category": "cloud",
          "score": 5,
          "priority": "VEILLE",
          "summary": "DigitalOcean ajoute le support des buildpacks .NET sur sa plateforme d'applications.",
          "date": "2026-03-06"
        },
        {
          "title": "AWS HealthLake announces data transformation agent for automated CCDA-to-FHIR data conversion (Preview)",
          "url": "https://aws.amazon.com/about-aws/whats-new/2026/03/aws-healthlake-data-transformation-agent/",
          "category": "data-eng",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "AWS HealthLake permet maintenant de transformer des documents cliniques en ressources FHIR en quelques jours.",
          "date": "2026-03-06"
        },
        {
          "title": "March 05, 2026",
          "url": "https://docs.cloud.google.com/release-notes#March_05_2026",
          "category": "data-eng",
          "score": 5,
          "priority": "VEILLE",
          "summary": "AlloyDB pour PostgreSQL propose des sauvegardes améliorées maintenant disponibles.",
          "date": "2026-03-06"
        },
        {
          "title": "Pricing evolution of Public Cloud, Bare Metal and VPS at OVHcloud",
          "url": "https://blog.ovhcloud.com/pricing-evolution-of-public-cloud-bare-metal-and-vps-at-ovhcloud/",
          "category": "tendances",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Les coûts de l'infrastructure cloud évoluent en raison des perturbations du marché de la mémoire.",
          "date": "2026-03-06"
        },
        {
          "title": "Regression Testing: What it is, why it matters, and how to automate it with CI/CD",
          "url": "https://circleci.com/blog/regression-testing-and-how-to-automate-it-with-ci/",
          "category": "devops",
          "score": 6,
          "priority": "VEILLE",
          "summary": "L'article explique l'importance des tests de régression et comment les automatiser avec CI/CD.",
          "date": "2026-03-06"
        },
        {
          "title": "How much wildfire prevention is too much?",
          "url": "https://www.technologyreview.com/2026/03/05/1133960/wildfire-prevention-limits/",
          "category": "tendances",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Les entreprises développent des systèmes de détection d'incendies par IA et des drones pour prévenir les feux de forêt.",
          "date": "2026-03-06"
        },
        {
          "title": "Capability Thresholds and Manufacturing Topology: How Embodied Intelligence Triggers Phase Transitions in Economic Geography",
          "url": "https://arxiv.org/abs/2603.04457",
          "category": "tendances",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Une étude explore comment l'intelligence intégrée pourrait transformer la topologie de la fabrication.",
          "date": "2026-03-06"
        },
        {
          "title": "Bounded State in an Infinite Horizon: Proactive Hierarchical Memory for Ad-Hoc Recall over Streaming Dialogues",
          "url": "https://arxiv.org/abs/2603.04885",
          "category": "data-eng",
          "score": 5,
          "priority": "VEILLE",
          "summary": "Une nouvelle méthode de mémoire hiérarchique pour le rappel ad-hoc dans les dialogues en continu est proposée.",
          "date": "2026-03-06"
        },
        {
          "title": "RoboPocket: Improve Robot Policies Instantly with Your Phone",
          "url": "https://arxiv.org/abs/2603.05504",
          "category": "tendances",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Une nouvelle méthode permet d'améliorer instantanément les politiques des robots en utilisant un smartphone.",
          "date": "2026-03-06"
        },
        {
          "title": "Noise2Ghost: Self-supervised deep convolutional reconstruction for ghost imaging",
          "url": "https://arxiv.org/abs/2504.10288",
          "category": "ia-ml",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Une nouvelle méthode d'imagerie fantôme basée sur l'apprentissage profond améliore la qualité de reconstruction des images bruitées.",
          "date": "2026-03-06"
        },
        {
          "title": "Turning Insight Into Impact with Databricks and Global Orphan Project",
          "url": "https://www.databricks.com/blog/turning-insight-impact-databricks-and-global-orphan-go-project",
          "category": "data-eng",
          "score": 5,
          "priority": "VEILLE",
          "summary": "Databricks collabore avec le Global Orphan Project pour transformer les données en impact social.",
          "date": "2026-03-06"
        },
        {
          "title": "I Built A Data + AI Observability Program–Here Is How I’d Do It Differently",
          "url": "https://www.montecarlodata.com/blog-building-data-ai-observability-program/",
          "category": "devops",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Un retour d'expérience sur la mise en place d'un programme d'observabilité pour les données et l'IA.",
          "date": "2026-03-06"
        },
        {
          "title": "AWS Elastic Beanstalk now offers AI-powered environment analysis",
          "url": "https://aws.amazon.com/about-aws/whats-new/2026/03/elastic-beanstalk-ai-analysis/",
          "category": "cloud",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "AWS Elastic Beanstalk intègre une analyse d'environnement basée sur l'IA pour diagnostiquer et résoudre les problèmes.",
          "date": "2026-03-06"
        },
        {
          "title": "AWS Shield network security director findings are now available in AWS Security Hub",
          "url": "https://aws.amazon.com/about-aws/whats-new/2026/03/network-security-director-findings/",
          "category": "securite",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Les résultats du directeur de sécurité réseau d'AWS Shield sont désormais disponibles dans AWS Security Hub.",
          "date": "2026-03-06"
        },
        {
          "title": "Judge orders government to begin refunding more than $130B in tariffs",
          "url": "https://www.wsj.com/politics/policy/judge-orders-government-to-begin-refunding-more-than-130-billion-in-tariffs-fdc1e62c",
          "category": "tendances",
          "score": 5,
          "priority": "VEILLE",
          "summary": "Un juge ordonne au gouvernement de rembourser plus de 130 milliards de dollars en droits de douane.",
          "date": "2026-03-06"
        },
        {
          "title": "Lawmakers just advanced online safety laws that require age verification at the app store",
          "url": "https://www.theverge.com/policy/890367/house-lawmakers-online-safety-bills-kids-act",
          "category": "securite",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Des législateurs ont avancé des lois sur la sécurité en ligne nécessitant une vérification d'âge dans les magasins d'applications.",
          "date": "2026-03-06"
        },
        {
          "title": "Roblox launches real-time AI chat rephrasing to filter out banned language",
          "url": "https://techcrunch.com/2026/03/05/roblox-launches-real-time-ai-chat-rephrasing-to-filter-out-banned-language/",
          "category": "tendances",
          "score": 6,
          "priority": "VEILLE",
          "summary": "Roblox améliore son filtre de texte avec un système de reformulation en temps réel pour bloquer les mots interdits.",
          "date": "2026-03-06"
        },
        {
          "title": "Confluent Cloud’s Path to Post-Quantum Cryptography",
          "url": "https://www.confluent.io/blog/confluent-cloud-post-quantum-cryptography-roadmap/",
          "category": "data-eng",
          "score": 8,
          "priority": "IMPORTANT",
          "summary": "Confluent Cloud se prépare pour la cryptographie post-quantique avec des mises à jour de sécurité majeures.",
          "date": "2026-03-06"
        },
        {
          "title": "Amazon OpenSearch Service introduces capacity optimized blue/green deployments",
          "url": "https://aws.amazon.com/about-aws/whats-new/2026/03/amazon-opensearch-service-bg/",
          "category": "cloud",
          "score": 7,
          "priority": "IMPORTANT",
          "summary": "Amazon OpenSearch Service introduit des déploiements optimisés en capacité pour les mises à jour de domaine.",
          "date": "2026-03-06"
        },
        {
          "title": "60 million Copilot code reviews and counting",
          "url": "https://github.blog/ai-and-ml/github-copilot/60-million-copilot-code-reviews-and-counting/",
          "category": "devops",
          "score": 6,
          "priority": "VEILLE",
          "summary": "GitHub Copilot a réalisé 60 millions de revues de code, aidant les équipes à suivre les changements accélérés par l'IA.",
          "date": "2026-03-06"
        }
      ]
    }
  },
  "pinData": {},
  "activeVersionId": "26623605-0fde-41a1-b680-8bbce68d442e",
  "versionCounter": 91,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-06T07:28:02.817Z",
    "createdAt": "2026-03-06T07:28:02.817Z",
    "versionId": "26623605-0fde-41a1-b680-8bbce68d442e",
    "workflowId": "OfUjCc9fcrInTX3M",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              },
              {
                "triggerAtHour": 14
              }
            ]
          }
        },
        "id": "trigger-1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -208,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const feeds = [\n  { url: 'https://openai.com/blog/rss.xml', category: 'ia-ml' },\n  { url: 'https://blog.google/technology/ai/rss/', category: 'ia-ml' },\n  { url: 'https://deepmind.google/blog/rss.xml', category: 'ia-ml' },\n  { url: 'https://huggingface.co/blog/feed.xml', category: 'ia-ml' },\n  { url: 'https://paperswithcode.com/latest/rss', category: 'ia-ml' },\n  { url: 'https://rss.arxiv.org/rss/cs.AI', category: 'ia-ml' },\n  { url: 'https://rss.arxiv.org/rss/cs.LG', category: 'ia-ml' },\n  { url: 'https://rss.arxiv.org/rss/cs.CL', category: 'ia-ml' },\n  { url: 'https://txt.cohere.com/rss/', category: 'ia-ml' },\n  { url: 'https://www.databricks.com/feed', category: 'data-eng' },\n  { url: 'https://www.getdbt.com/blog/rss.xml', category: 'data-eng' },\n  { url: 'https://airbyte.com/blog/rss.xml', category: 'data-eng' },\n  { url: 'https://www.snowflake.com/feed/', category: 'data-eng' },\n  { url: 'https://www.confluent.io/feed/', category: 'data-eng' },\n  { url: 'https://blogs.apache.org/kafka/feed/entries/atom', category: 'data-eng' },\n  { url: 'https://www.montecarlodata.com/blog/feed/', category: 'data-eng' },\n  { url: 'https://aws.amazon.com/about-aws/whats-new/recent/feed/', category: 'cloud' },\n  { url: 'https://cloud.google.com/feeds/gcp-release-notes.xml', category: 'cloud' },\n  { url: 'https://azure.microsoft.com/en-us/updates/feed/', category: 'cloud' },\n  { url: 'https://blog.cloudflare.com/rss/', category: 'cloud' },\n  { url: 'https://vercel.com/atom', category: 'cloud' },\n  { url: 'https://blog.ovhcloud.com/feed/', category: 'cloud' },\n  { url: 'https://www.digitalocean.com/blog/rss', category: 'cloud' },\n  { url: 'https://www.docker.com/blog/feed/', category: 'devops' },\n  { url: 'https://kubernetes.io/feed.xml', category: 'devops' },\n  { url: 'https://www.hashicorp.com/blog/feed.xml', category: 'devops' },\n  { url: 'https://github.blog/feed/', category: 'devops' },\n  { url: 'https://about.gitlab.com/atom.xml', category: 'devops' },\n  { url: 'https://circleci.com/blog/feed.xml', category: 'devops' },\n  { url: 'https://www.datadoghq.com/feed/', category: 'devops' },\n  { url: 'https://krebsonsecurity.com/feed/', category: 'securite' },\n  { url: 'https://feeds.feedburner.com/TheHackersNews', category: 'securite' },\n  { url: 'https://www.cert.ssi.gouv.fr/alerte/feed/', category: 'securite' },\n  { url: 'https://www.cert.ssi.gouv.fr/avis/feed/', category: 'securite' },\n  { url: 'https://www.bleepingcomputer.com/feed/', category: 'securite' },\n  { url: 'https://www.darkreading.com/rss.xml', category: 'securite' },\n  { url: 'https://www.securityweek.com/feed/', category: 'securite' },\n  { url: 'https://hnrss.org/best', category: 'tendances' },\n  { url: 'https://feeds.arstechnica.com/arstechnica/index', category: 'tendances' },\n  { url: 'https://www.theverge.com/rss/index.xml', category: 'tendances' },\n  { url: 'https://techcrunch.com/feed/', category: 'tendances' },\n  { url: 'https://www.wired.com/feed/rss', category: 'tendances' },\n  { url: 'https://www.technologyreview.com/feed/', category: 'tendances' },\n  { url: 'https://www.ycombinator.com/blog/rss/', category: 'tendances' },\n  { url: 'https://www.producthunt.com/feed', category: 'tendances' },\n  { url: 'https://www.blogdumoderateur.com/feed/', category: 'tendances' },\n  { url: 'https://next.ink/feed/', category: 'tendances' },\n  { url: 'https://www.lemonde.fr/pixels/rss_full.xml', category: 'tendances' },\n  { url: 'https://www.numerama.com/feed/', category: 'tendances' },\n  { url: 'https://www.frenchweb.fr/feed', category: 'tendances' },\n  { url: 'https://www.maddyness.com/feed/', category: 'tendances' },\n  { url: 'https://tldr.tech/rss', category: 'tendances' },\n  { url: 'https://www.dataengineeringweekly.com/feed', category: 'data-eng' },\n  { url: 'https://softwareleadweekly.com/issues.rss', category: 'devops' },\n  // --- Sources bonus ---\n  { url: 'https://mshibanami.github.io/GitHubTrendingRSS/daily/all.xml', category: 'tendances' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCsBjURrPoezykLs9EqgamOA', category: 'tendances' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCYO_jab_esuFRV4b17AJtAw', category: 'ia-ml' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCbfYPyITQ-7l4upoX8nvctg', category: 'ia-ml' },\n  { url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UC9-y-6csu5WGm29I7JiwpnA', category: 'cloud' },\n  { url: 'https://changelog.com/podcast/feed', category: 'tendances' },\n  { url: 'https://feed.syntax.fm/rss', category: 'tendances' }\n];\nreturn feeds.map(f => ({ json: f }));"
        },
        "id": "code-urls",
        "name": "RSS Feed URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          304
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "loop-1",
        "name": "Loop Over Feeds",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          256,
          304
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {}
        },
        "id": "rss-read",
        "name": "RSS Read",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          512,
          464
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const category = $('Loop Over Feeds').first().json.category;\nconst items = $input.all();\nreturn items.map(item => {\n  item.json._category = category;\n  return item;\n});"
        },
        "id": "tag-category",
        "name": "Tag Category",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          464
        ]
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.seenUrls) staticData.seenUrls = {};\n\nconst now = Date.now();\nconst twentyFourHoursAgo = now - (24 * 60 * 60 * 1000);\nconst sevenDaysAgo = now - (7 * 24 * 60 * 60 * 1000);\n\nfor (const [url, ts] of Object.entries(staticData.seenUrls)) {\n  if (ts < sevenDaysAgo) delete staticData.seenUrls[url];\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const a = item.json;\n  if (!a.link && !a.url) continue;\n  const link = (a.link || a.url || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\n  if (!link) continue;\n  if (staticData.seenUrls[link]) continue;\n  const pubDate = new Date(a.isoDate || a.pubDate || a.date || 0).getTime();\n  if (pubDate < twentyFourHoursAgo && pubDate > 0) continue;\n  staticData.seenUrls[link] = now;\n  const source = link.split('/')[2].replace('www.', '').replace('blog.', '').replace('feeds.', '');\n  let snippet = a.contentSnippet || a.content || a.description || '';\n  snippet = snippet.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n  if (snippet.length > 300) snippet = snippet.substring(0, 300) + '...';\n  results.push({\n    json: {\n      title: a.title || 'Sans titre',\n      url: a.link || a.url,\n      source: source,\n      category: a._category || 'tendances',\n      snippet: snippet,\n      publishedAt: a.isoDate || a.pubDate || a.date || new Date().toISOString()\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, count: 0 } }];\n}\nreturn results;"
        },
        "id": "dedup-code",
        "name": "Dedup + Filter 24h",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "has-title",
                "leftValue": "={{ $json.title }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "filter-empty",
        "name": "Filter Empty",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          752,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "const KEYWORDS = {\n  'ia-ml': {\n    high: ['gpt', 'llm', 'transformer', 'diffusion', 'fine-tuning', 'rag', 'agent', 'multimodal', 'benchmark', 'open-source', 'openai', 'anthropic', 'mistral', 'gemini', 'claude', 'llama', 'deepseek', 'hugging face', 'langchain', 'embedding', 'vector', 'neural', 'deep learning', 'machine learning', 'reinforcement', 'foundation model'],\n    medium: ['ai', 'model', 'training', 'inference', 'dataset', 'nlp', 'computer vision', 'generative', 'prompt', 'token', 'parameter', 'weights', 'gpu', 'tpu', 'cuda'],\n    low: ['artificial intelligence', 'automation', 'prediction', 'classification', 'regression', 'optimization']\n  },\n  'data-eng': {\n    high: ['dbt', 'spark', 'kafka', 'airflow', 'snowflake', 'databricks', 'data lake', 'data mesh', 'data warehouse', 'etl', 'elt', 'streaming', 'batch processing', 'data pipeline', 'data quality', 'data lineage', 'iceberg', 'delta lake', 'parquet', 'arrow'],\n    medium: ['sql', 'postgresql', 'bigquery', 'redshift', 'data catalog', 'schema', 'migration', 'ingestion', 'transformation'],\n    low: ['database', 'query', 'analytics', 'dashboard', 'reporting']\n  },\n  'cloud': {\n    high: ['aws', 'gcp', 'azure', 'cloudflare', 'vercel', 'serverless', 'lambda', 'kubernetes', 'terraform', 'cloud run', 'ecs', 'fargate', 'cdn', 's3', 'ec2'],\n    medium: ['cloud', 'iaas', 'paas', 'saas', 'microservice', 'container', 'load balancer', 'auto-scaling', 'region', 'availability zone'],\n    low: ['hosting', 'deployment', 'infrastructure', 'scalability']\n  },\n  'devops': {\n    high: ['docker', 'kubernetes', 'k8s', 'helm', 'github actions', 'gitlab ci', 'jenkins', 'argocd', 'gitops', 'ci/cd', 'terraform', 'ansible', 'prometheus', 'grafana', 'observability'],\n    medium: ['pipeline', 'deployment', 'container', 'orchestration', 'monitoring', 'sre', 'incident', 'rollback', 'canary', 'blue-green'],\n    low: ['devops', 'automation', 'release', 'build', 'test']\n  },\n  'securite': {\n    high: ['cve', 'vulnerability', 'zero-day', 'ransomware', 'breach', 'exploit', 'malware', 'phishing', 'cert-fr', 'patch', 'rce', 'xss', 'sql injection', 'supply chain attack'],\n    medium: ['security', 'authentication', 'encryption', 'firewall', 'siem', 'soc', 'pentest', 'audit', 'compliance', 'gdpr', 'iso 27001'],\n    low: ['cyber', 'privacy', 'protection', 'threat', 'risk']\n  },\n  'tendances': {\n    high: ['startup', 'funding', 'acquisition', 'ipo', 'open source', 'release', 'launch', 'announcement', 'breaking'],\n    medium: ['trend', 'innovation', 'disruption', 'market', 'growth', 'adoption'],\n    low: ['tech', 'digital', 'future', 'industry']\n  }\n};\n\nconst MAX_PER_CATEGORY = 10;\nconst TOTAL_LIMIT = 50;\n\nconst items = $input.all();\nconst scored = [];\n\nfor (const item of items) {\n  const text = ((item.json.title || '') + ' ' + (item.json.snippet || '')).toLowerCase();\n  let bestScore = 0;\n  let bestCategory = item.json.category || 'tendances';\n\n  for (const [cat, words] of Object.entries(KEYWORDS)) {\n    let score = 0;\n    for (const w of words.high) { if (text.includes(w)) score += 3; }\n    for (const w of words.medium) { if (text.includes(w)) score += 2; }\n    for (const w of words.low) { if (text.includes(w)) score += 1; }\n    if (score > bestScore) {\n      bestScore = score;\n      bestCategory = cat;\n    }\n  }\n\n  if (bestScore < 3) bestCategory = item.json.category || 'tendances';\n\n  const score10 = Math.min(10, Math.max(1, Math.round(bestScore / 3) + 3));\n  let priority = 'VEILLE';\n  if (score10 >= 9) priority = 'CRITIQUE';\n  else if (score10 >= 7) priority = 'IMPORTANT';\n  else if (score10 < 5) priority = 'BRUIT';\n\n  scored.push({\n    json: {\n      title: item.json.title,\n      url: item.json.url,\n      source: item.json.source,\n      snippet: item.json.snippet,\n      publishedAt: item.json.publishedAt,\n      score: score10,\n      priority: priority,\n      category: bestCategory,\n      summary: item.json.snippet || '',\n      keywordScore: bestScore\n    }\n  });\n}\n\nscored.sort((a, b) => b.json.keywordScore - a.json.keywordScore);\n\n// Quota par categorie : max 10 par cat, 50 total\nconst catCount = {};\nconst selected = [];\nfor (const item of scored) {\n  const cat = item.json.category;\n  catCount[cat] = (catCount[cat] || 0) + 1;\n  if (catCount[cat] <= MAX_PER_CATEGORY) {\n    selected.push(item);\n  }\n  if (selected.length >= TOTAL_LIMIT) break;\n}\n\n// Si pas assez, completer avec les meilleurs restants\nif (selected.length < TOTAL_LIMIT) {\n  const selectedUrls = new Set(selected.map(i => i.json.url));\n  for (const item of scored) {\n    if (!selectedUrls.has(item.json.url)) {\n      selected.push(item);\n      if (selected.length >= TOTAL_LIMIT) break;\n    }\n  }\n}\n\nreturn selected;"
        },
        "id": "prefilter-code",
        "name": "Pre-filtre Keywords",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          112
        ]
      },
      {
        "parameters": {
          "batchSize": 5,
          "options": {}
        },
        "id": "batch-llm",
        "name": "Batch pour LLM",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1264,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst articles = items.map((item, i) => {\n  const a = item.json;\n  const content = a.fullText || a.snippet || 'N/A';\n  return `[${i+1}] Titre: ${a.title}\\nSource: ${a.source}\\nCategorie RSS: ${a.category}\\nContenu: ${content}`;\n}).join('\\n\\n');\n\nconst prompt = `Tu es un analyste tech senior. Classifie ces ${items.length} articles.\n\nPour CHAQUE article, reponds en JSON avec:\n- title: le titre original\n- url: garder l'URL originale\n- score: pertinence de 1 a 10 (10 = revolution majeure, 7-8 = important, 5-6 = interessant, 1-4 = bruit)\n- priority: CRITIQUE (9-10), IMPORTANT (7-8), VEILLE (5-6), BRUIT (1-4)\n- category: une parmi [ia-ml, data-eng, cloud, devops, securite, tendances]\n- summary: resume en 1 phrase francaise, factuel, sans jargon marketing\n\nARTICLES:\n${articles}\n\nURLS ORIGINALES:\n${items.map((item, i) => `[${i+1}] ${item.json.url}`).join('\\n')}\n\nReponds UNIQUEMENT avec un JSON valide: {\"articles\": [...]}`;\n\nreturn [{ json: { prompt, _batchItems: items.map(i => i.json) } }];"
        },
        "id": "format-prompt",
        "name": "Format Prompt LLM",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          208
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "batching": {}
        },
        "id": "llm-chain",
        "name": "Classification LLM",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1712,
          208
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "model": "mistralai/mistral-small-3.1-24b-instruct",
          "options": {
            "temperature": 0.3
          }
        },
        "id": "openrouter-model",
        "name": "OpenRouter Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1712,
          464
        ],
        "credentials": {
          "openRouterApi": {
            "id": "__CREDENTIAL_ID__",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst text = input.text || input.output || '';\nconst batchItems = input._batchItems || $('Format Prompt LLM').first().json._batchItems || [];\n\ntry {\n  let jsonStr = text;\n  const jsonMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) jsonStr = jsonMatch[1];\n  \n  const objMatch = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (objMatch) jsonStr = objMatch[0];\n  \n  const parsed = JSON.parse(jsonStr);\n  const articles = parsed.articles || parsed;\n  \n  if (!Array.isArray(articles)) {\n    throw new Error('articles is not an array');\n  }\n  \n  return articles.map((a, i) => {\n    const original = batchItems[i] || {};\n    return {\n      json: {\n        title: a.title || original.title || 'Sans titre',\n        url: a.url || original.url || '',\n        source: original.source || '',\n        score: Math.min(10, Math.max(1, parseInt(a.score) || 5)),\n        priority: ['CRITIQUE', 'IMPORTANT', 'VEILLE', 'BRUIT'].includes(a.priority) ? a.priority : 'VEILLE',\n        category: a.category || original.category || 'tendances',\n        summary: a.summary || original.snippet || '',\n        publishedAt: original.publishedAt || new Date().toISOString()\n      }\n    };\n  });\n} catch (e) {\n  return batchItems.map(item => ({\n    json: {\n      title: item.title || 'Sans titre',\n      url: item.url || '',\n      source: item.source || '',\n      score: item.score || 5,\n      priority: item.priority || 'VEILLE',\n      category: item.category || 'tendances',\n      summary: item.snippet || '',\n      publishedAt: item.publishedAt || new Date().toISOString(),\n      _fallback: true\n    }\n  }));\n}"
        },
        "id": "parse-llm",
        "name": "Parse LLM Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          208
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "amount": 3
        },
        "id": "wait-rate",
        "name": "Wait 3s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2256,
          208
        ],
        "webhookId": "wait-rate-limit"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "score-filter",
                "leftValue": "={{ $json.score }}",
                "rightValue": 5,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "filter-score",
        "name": "Filter Score >= 5",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1504,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "const PRIORITY_COLORS = {\n  'CRITIQUE': 15548997,\n  'IMPORTANT': 16705372,\n  'VEILLE': 5793266\n};\n\nconst CATEGORY_EMOJI = {\n  'ia-ml': '🤖',\n  'data-eng': '📊',\n  'cloud': '☁️',\n  'devops': '⚙️',\n  'securite': '🔒',\n  'tendances': '📰'\n};\n\nconst CHANNEL_MAP = {\n  'ia-ml': 'IA',\n  'data-eng': 'DEV',\n  'cloud': 'CLOUD',\n  'devops': 'DEV',\n  'securite': 'SECURITE',\n  'tendances': 'TENDANCES'\n};\n\nconst items = $input.all();\n\nconst groups = {};\nfor (const item of items) {\n  const cat = item.json.category || 'tendances';\n  if (!groups[cat]) groups[cat] = [];\n  groups[cat].push(item.json);\n}\n\nconst messages = [];\n\nfor (const [cat, articles] of Object.entries(groups)) {\n  articles.sort((a, b) => b.score - a.score);\n  \n  const channelKey = CHANNEL_MAP[cat] || 'TENDANCES';\n  const emoji = CATEGORY_EMOJI[cat] || '📰';\n  \n  const topArticles = articles.slice(0, 5);\n  const restArticles = articles.slice(5);\n  \n  const embeds = topArticles.map(a => {\n    const color = PRIORITY_COLORS[a.priority] || 5793266;\n    let desc = a.summary || '';\n    if (desc.length > 300) desc = desc.substring(0, 300) + '...';\n    \n    return {\n      title: `[${a.priority}] ${a.title}`.substring(0, 256),\n      url: a.url,\n      description: desc,\n      color: color,\n      fields: [\n        { name: 'Score', value: `${a.score}/10`, inline: true },\n        { name: 'Source', value: a.source || 'N/A', inline: true },\n        { name: 'Categorie', value: cat, inline: true }\n      ],\n      footer: { text: 'Veille Pro' },\n      timestamp: a.publishedAt || new Date().toISOString()\n    };\n  });\n  \n  if (restArticles.length > 0) {\n    const list = restArticles.slice(0, 10).map(a => \n      `• [${a.title}](${a.url}) (${a.score}/10)`\n    ).join('\\n');\n    const extra = restArticles.length > 10 ? `\\n_...et ${restArticles.length - 10} autres_` : '';\n    \n    embeds.push({\n      title: `${emoji} +${restArticles.length} autres articles`,\n      description: list + extra,\n      color: 5793266\n    });\n  }\n  \n  let currentEmbeds = [];\n  let currentChars = 0;\n  \n  for (const embed of embeds) {\n    const embedChars = (embed.title || '').length + (embed.description || '').length + \n      (embed.fields || []).reduce((s, f) => s + f.name.length + f.value.length, 0);\n    \n    if (currentEmbeds.length >= 10 || (currentChars + embedChars > 5500 && currentEmbeds.length > 0)) {\n      messages.push({ json: { channelKey, content: '', embeds: currentEmbeds } });\n      currentEmbeds = [];\n      currentChars = 0;\n    }\n    currentEmbeds.push(embed);\n    currentChars += embedChars;\n  }\n  \n  if (currentEmbeds.length > 0) {\n    messages.push({ json: { channelKey, content: '', embeds: currentEmbeds } });\n  }\n}\n\nconst critiques = items.filter(i => i.json.priority === 'CRITIQUE').map(i => i.json);\nif (critiques.length > 0) {\n  const critiqueEmbeds = critiques.slice(0, 5).map(a => ({\n    title: `🚨 ${a.title}`.substring(0, 256),\n    url: a.url,\n    description: a.summary || '',\n    color: 15548997,\n    fields: [\n      { name: 'Score', value: `${a.score}/10`, inline: true },\n      { name: 'Source', value: a.source || 'N/A', inline: true },\n      { name: 'Categorie', value: a.category, inline: true }\n    ],\n    footer: { text: 'ALERTE CRITIQUE' },\n    timestamp: a.publishedAt || new Date().toISOString()\n  }));\n  messages.push({ json: { channelKey: 'CRITIQUE', content: '@here Alertes critiques detectees', embeds: critiqueEmbeds } });\n}\n\nif (messages.length === 0) {\n  return [{ json: { channelKey: 'STATUS', content: 'Aucun article a distribuer', embeds: [] } }];\n}\n\nreturn messages;"
        },
        "id": "route-discord",
        "name": "Route par Categorie",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          -96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.channelKey === 'IA' ? $env.DISCORD_WEBHOOK_IA : $json.channelKey === 'DEV' ? $env.DISCORD_WEBHOOK_DEV : $json.channelKey === 'CLOUD' ? $env.DISCORD_WEBHOOK_CLOUD : $json.channelKey === 'SECURITE' ? $env.DISCORD_WEBHOOK_SECURITE : $json.channelKey === 'CRITIQUE' ? $env.DISCORD_WEBHOOK_CRITIQUE : $env.DISCORD_WEBHOOK_TENDANCES }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: $json.content, embeds: $json.embeds }) }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 1500
              }
            }
          }
        },
        "id": "discord-send",
        "name": "Discord Send",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2128,
          -96
        ],
        "retryOnFail": false,
        "maxTries": 1,
        "waitBetweenTries": 3000,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const allItems = $('Filter Score >= 5').all();\nconst count = allItems.length;\nconst categories = {};\nconst priorities = {};\n\nfor (const item of allItems) {\n  const cat = item.json.category || 'unknown';\n  const pri = item.json.priority || 'unknown';\n  categories[cat] = (categories[cat] || 0) + 1;\n  priorities[pri] = (priorities[pri] || 0) + 1;\n}\n\nconst catBreakdown = Object.entries(categories).map(([k, v]) => `${k}: ${v}`).join(', ');\nconst priBreakdown = Object.entries(priorities).map(([k, v]) => `${k}: ${v}`).join(', ');\nconst now = new Date();\nconst timeStr = now.toISOString().split('T')[0] + ' ' + now.toISOString().split('T')[1].split('.')[0];\n\nreturn [{\n  json: {\n    content: `**Veille Pro terminee** \\u2014 ${timeStr}\\n\\n\\ud83d\\udcca **${count} articles** distribues\\n\\ud83d\\udcc2 Par categorie: ${catBreakdown}\\n\\ud83c\\udfaf Par priorite: ${priBreakdown}`\n  }\n}];"
        },
        "id": "status-code",
        "name": "Status Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          -96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DISCORD_WEBHOOK_STATUS }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: $json.content }) }}",
          "options": {}
        },
        "id": "http-status",
        "name": "Discord Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2752,
          -96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "hour-check",
                "leftValue": "={{ new Date().getHours() }}",
                "rightValue": 12,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-afternoon",
        "name": "Is Afternoon?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2448,
          -352
        ]
      },
      {
        "parameters": {
          "jsCode": "const allItems = $('Filter Score >= 5').all();\nconst today = new Date().toISOString().split('T')[0];\n\nconst articles = allItems.map(i => i.json);\narticles.sort((a, b) => (b.score || 0) - (a.score || 0));\n\nconst articleList = articles.slice(0, 30).map((a, i) => \n  `[${i+1}] [${a.priority}] ${a.title} (${a.category}, ${a.score}/10)\\nResume: ${a.summary || 'N/A'}`\n).join('\\n\\n');\n\nconst prompt = `Tu es un redacteur tech senior. Genere un digest quotidien de veille pour le ${today}.\n\nVoici les ${articles.length} articles du jour (top 30 affiches) :\n\n${articleList}\n\nGenere un digest en francais (max 300 mots) :\n1. **Headline du jour** : le sujet le plus marquant en 1 phrase\n2. **En bref** : 3-5 bullet points des actus cles\n3. **Decouverte du jour** : 1 article moins connu mais interessant\n4. **Stats** : nombre d'articles par categorie\n\nSois factuel et concis.`;\n\nreturn [{ json: { prompt } }];"
        },
        "id": "digest-prompt",
        "name": "Format Digest",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          -448
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "batching": {}
        },
        "id": "llm-digest",
        "name": "LLM Digest",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2960,
          -448
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "model": "mistralai/mistral-small-3.1-24b-instruct",
          "options": {
            "temperature": 0.5
          }
        },
        "id": "openrouter-digest",
        "name": "OpenRouter Digest",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2960,
          -240
        ],
        "credentials": {
          "openRouterApi": {
            "id": "__CREDENTIAL_ID__",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const text = $input.first().json.text || $input.first().json.output || '';\nconst today = new Date().toISOString().split('T')[0];\nconst description = text.length > 4000 ? text.substring(0, 4000) + '...' : text;\n\nreturn [{\n  json: {\n    content: '',\n    embeds: [{\n      title: `Digest Quotidien - ${today}`,\n      description: description,\n      color: 16766720,\n      footer: { text: 'Veille Pro - Digest' },\n      timestamp: new Date().toISOString()\n    }]\n  }\n}];"
        },
        "id": "digest-embed",
        "name": "Format Digest Embed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3200,
          -448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DISCORD_WEBHOOK_DIGEST }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: $json.content, embeds: $json.embeds }) }}",
          "options": {}
        },
        "id": "discord-digest",
        "name": "Discord Digest",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3456,
          -448
        ]
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.weekArticles) staticData.weekArticles = [];\n\nconst articles = $input.all();\nfor (const item of articles) {\n  staticData.weekArticles.push({\n    title: item.json.title,\n    url: item.json.url,\n    category: item.json.category,\n    score: item.json.score,\n    priority: item.json.priority,\n    summary: item.json.summary || '',\n    date: new Date().toISOString().split('T')[0]\n  });\n}\n\nconst weekAgo = new Date();\nweekAgo.setDate(weekAgo.getDate() - 7);\nconst cutoff = weekAgo.toISOString().split('T')[0];\nstaticData.weekArticles = staticData.weekArticles.filter(a => a.date >= cutoff);\n\nreturn articles;"
        },
        "id": "save-week",
        "name": "Save Week Articles",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1664,
          -96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ new Date().getDay() }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                },
                "id": "condition-1772730668618-yjik8fglp"
              }
            ]
          },
          "options": {}
        },
        "id": "check-sunday",
        "name": "Is Sunday?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3712,
          -448
        ]
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst articles = staticData.weekArticles || [];\n\nif (articles.length === 0) {\n  return [{ json: { prompt: 'Aucun article cette semaine.', skip: true } }];\n}\n\nconst byCategory = {};\nfor (const a of articles) {\n  if (!byCategory[a.category]) byCategory[a.category] = [];\n  byCategory[a.category].push(a);\n}\n\nlet articleList = '';\nfor (const [cat, arts] of Object.entries(byCategory)) {\n  articleList += `\\n## ${cat} (${arts.length} articles)\\n`;\n  for (const a of arts.slice(0, 5)) {\n    articleList += `- [${a.priority}] ${a.title} (score: ${a.score})\\n`;\n  }\n}\n\nconst now = new Date();\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - 7);\n\nconst prompt = `Tu es un analyste tech senior. Voici les ${articles.length} articles classes cette semaine (${weekStart.toLocaleDateString('fr-FR')} au ${now.toLocaleDateString('fr-FR')}) :\\n${articleList}\\n\\nGenere un digest hebdomadaire structure :\\n1. **Tendances cles** (3-5 tendances majeures)\\n2. **Top 5 articles** (les plus impactants avec resume 1 phrase)\\n3. **Stats** (repartition par categorie, nombre total)\\n\\nSois concis et factuel. Reponds en francais.`;\n\nreturn [{ json: { prompt } }];"
        },
        "id": "hebdo-prompt",
        "name": "Format Hebdo Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3952,
          -608
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "batching": {}
        },
        "id": "llm-hebdo",
        "name": "LLM Hebdo",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          4208,
          -608
        ]
      },
      {
        "parameters": {
          "model": "mistralai/mistral-small-3.1-24b-instruct:free",
          "options": {}
        },
        "id": "openrouter-hebdo",
        "name": "OpenRouter Hebdo",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          4208,
          -368
        ],
        "credentials": {
          "openRouterApi": {
            "id": "__CREDENTIAL_ID__",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const text = $input.first().json.text;\nconst now = new Date();\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - 7);\n\nconst description = text.length > 4000 ? text.substring(0, 4000) + '...' : text;\n\nreturn [{\n  json: {\n    content: '',\n    embeds: [{\n      title: `Digest Hebdomadaire - ${weekStart.toLocaleDateString('fr-FR')} au ${now.toLocaleDateString('fr-FR')}`,\n      description: description,\n      color: 5793266,\n      footer: { text: 'Veille Pro - Digest Hebdo' },\n      timestamp: new Date().toISOString()\n    }]\n  }\n}];"
        },
        "id": "hebdo-embed",
        "name": "Format Hebdo Embed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4464,
          -608
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.DISCORD_WEBHOOK_HEBDO }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "discord-hebdo",
        "name": "Discord Hebdo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4704,
          -608
        ]
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.weekArticles = [];\nreturn [{ json: { cleared: true, timestamp: new Date().toISOString() } }];"
        },
        "id": "clear-week",
        "name": "Clear Week Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4960,
          -608
        ]
      },
      {
        "id": "jina-fetch",
        "name": "Fetch Full Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          112
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let fullText = '';\n  try {\n    const resp = await fetch('https://r.jina.ai/' + item.json.url, {\n      headers: { 'Accept': 'text/plain' },\n      signal: AbortSignal.timeout(10000)\n    });\n    if (resp.ok) {\n      const text = await resp.text();\n      fullText = text.substring(0, 1500);\n    }\n  } catch (e) {\n    // fetch not available or failed - fallback to snippet\n    fullText = '';\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      fullText: fullText || item.json.snippet || item.json.title\n    }\n  });\n  \n  // Rate limit 300ms\n  await new Promise(r => setTimeout(r, 300));\n}\n\nreturn results;"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "RSS Feed URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RSS Feed URLs": {
        "main": [
          [
            {
              "node": "Loop Over Feeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Feeds": {
        "main": [
          [
            {
              "node": "Dedup + Filter 24h",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "RSS Read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RSS Read": {
        "main": [
          [
            {
              "node": "Tag Category",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tag Category": {
        "main": [
          [
            {
              "node": "Loop Over Feeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup + Filter 24h": {
        "main": [
          [
            {
              "node": "Filter Empty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Empty": {
        "main": [
          [
            {
              "node": "Pre-filtre Keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Batch pour LLM": {
        "main": [
          [
            {
              "node": "Filter Score >= 5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Prompt LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Prompt LLM": {
        "main": [
          [
            {
              "node": "Classification LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Classification LLM",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Classification LLM": {
        "main": [
          [
            {
              "node": "Parse LLM Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse LLM Response": {
        "main": [
          [
            {
              "node": "Wait 3s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 3s": {
        "main": [
          [
            {
              "node": "Batch pour LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Send": {
        "main": [
          [
            {
              "node": "Status Message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Is Afternoon?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Status Message": {
        "main": [
          [
            {
              "node": "Discord Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route par Categorie": {
        "main": [
          [
            {
              "node": "Discord Send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Afternoon?": {
        "main": [
          [
            {
              "node": "Format Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Digest": {
        "main": [
          [
            {
              "node": "LLM Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Digest": {
        "main": [
          [
            {
              "node": "Format Digest Embed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Digest Embed": {
        "main": [
          [
            {
              "node": "Discord Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Digest": {
        "main": [
          []
        ],
        "ai_languageModel": [
          [
            {
              "node": "LLM Digest",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Filter Score >= 5": {
        "main": [
          [
            {
              "node": "Save Week Articles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Week Articles": {
        "main": [
          [
            {
              "node": "Route par Categorie",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Digest": {
        "main": [
          [
            {
              "node": "Is Sunday?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Sunday?": {
        "main": [
          [
            {
              "node": "Format Hebdo Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Hebdo Prompt": {
        "main": [
          [
            {
              "node": "LLM Hebdo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Hebdo": {
        "main": [
          []
        ],
        "ai_languageModel": [
          [
            {
              "node": "LLM Hebdo",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "LLM Hebdo": {
        "main": [
          [
            {
              "node": "Format Hebdo Embed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Hebdo Embed": {
        "main": [
          [
            {
              "node": "Discord Hebdo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Hebdo": {
        "main": [
          [
            {
              "node": "Clear Week Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pre-filtre Keywords": {
        "main": [
          [
            {
              "node": "Fetch Full Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Full Text": {
        "main": [
          [
            {
              "node": "Batch pour LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Louis Gaillard",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T07:28:02.866Z",
        "id": 47,
        "workflowId": "OfUjCc9fcrInTX3M",
        "versionId": "26623605-0fde-41a1-b680-8bbce68d442e",
        "event": "activated",
        "userId": "f9206774-bec4-49f0-8a9d-3e852cbbe0da"
      },
      {
        "createdAt": "2026-03-06T07:28:02.849Z",
        "id": 46,
        "workflowId": "OfUjCc9fcrInTX3M",
        "versionId": "26623605-0fde-41a1-b680-8bbce68d442e",
        "event": "deactivated",
        "userId": "f9206774-bec4-49f0-8a9d-3e852cbbe0da"
      }
    ]
  }
}
